<script type="application/ld+json">
{
  "@context": "https://schema.org/", 
  "@type": "Product", 
  "name": "{{title}}",
  "description": "{{raw.description}}",
  "brand": {
    "@type": "Brand",
    "name": "Abcam Limited"
  },
  "sku": "{{raw.adassetdefinitionnumber}}",
  "offers": {
    "@type": "Offer",
    "url": "{{raw.clickableuri}}",
    "priceCurrency": "USD",
    "price": "[price in USD]",
    "availability": "https://schema.org/InStock",
    "itemCondition": "https://schema.org/NewCondition",
    "seller": {  
      "@type": "Organization",  
      "name": "Abcam Limited"  
    },
    "shippingDetails": {
      "@type": "OfferShippingDetails",
      "shippingRate": {
        "@type": "MonetaryAmount",
        "currency": "USD",
        "value": "[Shipping Cost]"
      },
      "shippingDestination": {
        "@type": "DefinedRegion",
        "addressCountry": "[Shipping Country]"
      },
      "deliveryTime": {
        "@type": "ShippingDeliveryTime",
        "handlingTime": {
          "@type": "QuantitativeValue",
          "minValue": "[Min Handling Days]",
          "maxValue": "[Max Handling Days]",
          "unitCode": "DAY"
        },
        "transitTime": {
          "@type": "QuantitativeValue",
          "minValue": "[Min Transit Days]",
          "maxValue": "[Max Transit Days]",
          "unitCode": "DAY"
        }
      }
    },
    "hasMerchantReturnPolicy": {
      "@type": "MerchantReturnPolicy",
      "returnPolicyCategory": "https://schema.org/MerchantReturnFiniteReturnWindow",
      "returnFees": "https://schema.org/FreeReturn",
      "returnMethod": "https://schema.org/ReturnByMail", 
      "returnPolicyCountry": "[Return Country]",
      "applicableCountry": "[Applicable Country]",
      "merchantReturnDays": "[Return Period in Days]"
    }
  },
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "{{raw.adreviewsaggregaterating}}",
    "bestRating": "5",
    "worstRating": "1",
    "ratingCount": "[No. of rating count]",
    "reviewCount": "{{raw.adreviewscount}}"
  },
  "image": [
  {{#each images}}
    {{#isValidImageUrl this}}
    {{#if @last}}
        {
            "@type": "ImageObject",
            "contentUrl": "https://content.abcam.com/{{ this.imgSeoUrl }}",
            "name": "{{this.imgTitle}}",
            "url": "https://content.abcam.com/{{ this.imgSeoUrl }}"
        }
    {{else}}
        {
            "@type": "ImageObject",
            "contentUrl": "https://content.abcam.com/{{ this.imgSeoUrl }}",
            "name": "{{this.imgTitle}}",
            "url": "https://content.abcam.com/{{ this.imgSeoUrl }}"
        },
    {{/if}}
    {{/isValidImageUrl}}
  {{/each}}
  ],
  "additionalProperty": [
    {{#each (filter
      (array
        (object "@type" "PropertyValue" "name" "Storage buffer" "value" raw.adformulation)
        (object "@type" "PropertyValue" "name" "Isotype" "value" raw.adisotype)
        (object "@type" "PropertyValue" "name" "Clonality" "value" raw.adclonality)
        (object "@type" "PropertyValue" "name" "Purification technique" "value" (concat raw.adpurificationtechnique " " raw.adpurificationtechniquereagent))
        (object "@type" "PropertyValue" "name" "Form" "value" raw.adform)
        (object "@type" "PropertyValue" "name" "Immunogen" "value" raw.adimmunogensensitivity)
        (object "@type" "PropertyValue" "name" "Specificity" "value" antibodyattributes.specificity)
        (object "@type" "PropertyValue" "name" "Detection method" "value" raw.adkitdetectionmethod)
        (object "@type" "PropertyValue" "name" "Sample types" "value" (join sampletypes ", " "name"))
        (object "@type" "PropertyValue" "name" "Assay type" "value" raw.adkitassaytype)
        (object "@type" "PropertyValue" "name" "Assay time" "value" raw.adkitassaytime)
        (object "@type" "PropertyValue" "name" "Range" "value" raw.adkitrange)
        (object "@type" "PropertyValue" "name" "Reactive species" "value" raw.adspecies)
        (object "@type" "PropertyValue" "name" "Sensitivity" "value" raw.adkitsensitivity)
        (object "@type" "PropertyValue" "name" "Host species" "value" raw.adhostspecies)
      ) "value") as |property|}}
    {{#unless @first}},{{/unless}}
    {{{json property}}}
    {{/each}}
  ]
}
</script>