<div class="product-protocols {{class}}">
    <div>
        <div><h3>Product protocols</h3></div>
    </div>
    <div>
        <div><p>For this product, it's our understanding that no specific protocols are required. You can:</p></div>        
        <div><ul>
            <li><a href="/en-us/technical-resources/protocols">General protocols</a></li>            
            <li><a href="/en-us/technical-resources/troubleshooting">Troubleshooting</a></li>
        </ul></div>
    </div>
</div>                