<div class="product-promise {{class}}">
    <div>
        <div><h3>Product promise</h3></div>
    </div>
    <div>
        <div>
            <p>We are dedicated to supporting your work with high quality reagents and we are here for you every step of the way should you need us.</p>
            <p>In the unlikely event of one of our products not working as expected, you are covered by our product promise.</p>
            <p>Full details and terms and conditions can be found here: <br>
                <a href="/en-us/legal/product-promise-terms-conditions">Terms & Conditions</a>
            </p>
        </div>
    </div>
</div>        