<script type="application/ld+json">
{
  "@context": "https://schema.org/", 
  "@type": "Product", 
  "name": "{{title}}",
  "description": "{{raw.admetadescription}}",
  "brand": {
    "@type": "Brand",
    "name": "Abcam Limited"
  },
  "sku": "{{raw.adassetdefinitionnumber}}",
  "offers": {
    "@type": "Offer",
    "url": "https://www.abcam.com{{raw.sysclickableuri}}",
    "priceCurrency": "USD",
    "price": "{{raw.adpriceusa}}",
    "availability": "https://schema.org/InStock",
    "itemCondition": "https://schema.org/NewCondition",
    "seller": {  
      "@type": "Organization",  
      "name": "Abcam Limited"  
    }
  },
  "aggregateRating": {
  "@type": "AggregateRating",
    "ratingValue": "{{raw.adreviewsaggregaterating}}",
    "bestRating": "5",
    "worstRating": "1",
    "reviewCount": "{{raw.adreviewscount}}",
    "ratingCount": "{{raw.adreviewscount}}"
  },
  "image": [
  {{#each images}}
    {{#isValidImageUrl this}}
    {{#if @last}}
        {
            "@type": "ImageObject",
            "contentUrl": "https://content.abcam.com/{{ this.imgSeoUrl }}",
            "name": "{{this.imgTitle}}",
            "caption": "{{this.imgTitle}}"
        }
    {{else}}
        {
            "@type": "ImageObject",
            "contentUrl": "https://content.abcam.com/{{ this.imgSeoUrl }}",
            "name": "{{this.imgTitle}}",
            "caption": "{{this.imgTitle}}"
        },
    {{/if}}
    {{/isValidImageUrl}}
  {{/each}}
  ],
  "additionalProperty": [
    {{#each (filter
      (array
        (object "@type" "PropertyValue" "name" "Storage buffer" "value" raw.adformulation)
        (object "@type" "PropertyValue" "name" "Isotype" "value" raw.adisotype)
        (object "@type" "PropertyValue" "name" "Clonality" "value" raw.adclonality)
        (object "@type" "PropertyValue" "name" "Purification technique" "value" purificationtechnique)
        (object "@type" "PropertyValue" "name" "Form" "value" raw.adform)
        (object "@type" "PropertyValue" "name" "Reactive species" "value" raw.adspecies)
        (object "@type" "PropertyValue" "name" "Host species" "value" raw.adhostspecies)
        (object "@type" "PropertyValue" "name" "Applications" "value" raw.adapplications)
        (object "@type" "PropertyValue" "name" "MW(kDa)" "value" biochemicalattr.molecularWeight)
        (object "@type" "PropertyValue" "name" "Immunogen" "value" raw.adimmunogensensitivity)
        (object "@type" "PropertyValue" "name" "Specificity" "value" antibodyattributes.specificity)
        (object "@type" "PropertyValue" "name" "Detection method" "value" raw.adkitdetectionmethod)
        (object "@type" "PropertyValue" "name" "Sample types" "value" (join sampletypes ", " "name"))
        (object "@type" "PropertyValue" "name" "Assay type" "value" raw.adkitassaytype)
        (object "@type" "PropertyValue" "name" "Assay time" "value" raw.adkitassaytime)
        (object "@type" "PropertyValue" "name" "Range" "value" raw.adkitrange)
        (object "@type" "PropertyValue" "name" "Sensitivity" "value" raw.adkitsensitivity)
        
      ) "value") as |property|}}
    {{#unless @first}},{{/unless}}
    {{{json property}}}
    {{/each}}
  ],
  "isRelatedTo":[
    {{#each associatedproducts}}
    {{#if @last}}
        {
            "@type": "Product",
            "url": "/en-us/products/{{this.associatedProduct.seoClass.levelOne}}/{{this.associatedProduct.productSlug}}"
        }
    {{else}}
        {
            "@type": "Product",
            "url": "/en-us/products/{{this.associatedProduct.seoClass.levelOne}}/{{this.associatedProduct.productSlug}}"
        },
    {{/if}}
    {{/each}}
  ]
}
</script>