<script type="application/ld+json">
{
  "@context": "https://schema.org/", 
  "@type": "Product", 
  "name": "{{productmetatitle}}",
  "description": "{{productmetadescription}}",
  "brand": {
    "@type": "Brand",
    "name": "Abcam Limited"
  },
  "sku": "{{raw.adassetdefinitionnumber}}",
  {{#if price}}
    "offers": {
      "@type": "Offer",
      "url": "{{url}}",
      "priceCurrency": "{{currency}}",
      "price": "{{price}}",
      "availability": "https://schema.org/InStock",
      "itemCondition": "https://schema.org/NewCondition",
      "seller": {  
        "@type": "Organization",  
        "name": "{{seller}}"
      }
    },
  {{else}}
    "url": "{{url}}",
  {{/if}}
  {{#if raw.adreviewsaggregaterating}}
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "{{raw.adreviewsaggregaterating}}",
      "bestRating": "5",
      "worstRating": "1",
      "reviewCount": "{{raw.adreviewscount}}",
      "ratingCount": "{{raw.adreviewscount}}"
    },
  {{/if}}  
  {{#if (len images 0)}}
    "image": [
      {{#each images}}
        {{#isValidImageUrl this}}
        {{#if @last}}
            {
                "@type": "ImageObject",
                "contentUrl": "https://content.abcam.com/{{ this.imgSeoUrl }}",
                "name": "{{this.santizedTitle}}",
                "creator": {
                  "@type": "Organization",
                  "name": "Abcam Limited"
                }
            }
        {{else}}
            {
                "@type": "ImageObject",
                "contentUrl": "https://content.abcam.com/{{ this.imgSeoUrl }}",
                "name": "{{this.santizedTitle}}",
                "creator": {
                  "@type": "Organization",
                  "name": "Abcam Limited"
                }
            },
        {{/if}}
        {{/isValidImageUrl}}
      {{/each}}
    ],
  {{else}}
    "image": [
      {
        "@type": "ImageObject",
        "contentUrl": "https://{{host}}/eds/icons/default-meta-image.png",
        "name": "{{title}}",
        "creator": {
          "@type": "Organization",
          "name": "Abcam Limited"
        }
      }
    ],     
  {{/if}}
  "additionalProperty": [
    {{#each (filter
      (array
        (object "@type" "PropertyValue" "name" "Storage buffer" "value" raw.adformulation)
        (object "@type" "PropertyValue" "name" "Isotype" "value" raw.adisotype)
        (object "@type" "PropertyValue" "name" "Clonality" "value" raw.adclonality)
        (object "@type" "PropertyValue" "name" "Purification technique" "value" purificationtechnique)
        (object "@type" "PropertyValue" "name" "Form" "value" raw.adform)
        (object "@type" "PropertyValue" "name" "Reactive species" "value" raw.adspecies)
        (object "@type" "PropertyValue" "name" "Host species" "value" raw.adhostspecies)
        (object "@type" "PropertyValue" "name" "Applications" "value" raw.adapplications)
        (object "@type" "PropertyValue" "name" "MW(kDa)" "value" biochemicalattr.molecularWeight)
        (object "@type" "PropertyValue" "name" "Immunogen" "value" raw.adimmunogensensitivity)
        (object "@type" "PropertyValue" "name" "Specificity" "value" antibodyattributes.specificity)
        (object "@type" "PropertyValue" "name" "Detection method" "value" raw.adkitdetectionmethod)
        (object "@type" "PropertyValue" "name" "Sample types" "value" (join sampletypes ", " "name"))
        (object "@type" "PropertyValue" "name" "Assay type" "value" raw.adkitassaytype)
        (object "@type" "PropertyValue" "name" "Assay time" "value" raw.adkitassaytime)
        (object "@type" "PropertyValue" "name" "Range" "value" raw.adkitrange)
        (object "@type" "PropertyValue" "name" "Citation Count" "value" raw.adpublicationscount)
        (object "@type" "PropertyValue" "name" "Sensitivity" "value" (replaceQuotes raw.adkitsensitivity))
        
      ) "value") as |property|}}
    {{#unless @first}},{{/unless}}
    {{{json property}}}
    {{/each}}
  ]
  {{#if associatedproducts}}
  ,
  "isRelatedTo":[
    {{#each associatedproducts}}
    {{#if @last}}
        {
            "@type": "Product",
            "url": "https://{{this.host}}{{this.locale}}/products/{{this.associatedProduct.seoClass.levelOne}}/{{this.associatedProduct.productSlug}}"
        }
    {{else}}
        {
            "@type": "Product",
            "url": "https://{{this.host}}{{this.locale}}/products/{{this.associatedProduct.seoClass.levelOne}}/{{this.associatedProduct.productSlug}}"
        },
    {{/if}}
    {{/each}}
  ]
  {{/if}}
}
</script>