<html>
  <head>
    <meta charset="utf-8"/>
    <title>{{productmetatitle}}</title>
    <meta name="og:image" content="{{ogimage}}"/>
    <meta name="description" content="{{productmetadescription}}"/>
    <meta name="published-time" content="{{publihseddate}}"/>
    <meta name="modified-time" content="{{publihseddate}}"/>
    <meta name="category-type" content="{{raw.adcategorytype}}"/>
    <meta name="product-slug" content="{{raw.adproductslug}}">
    <meta name="product-seo-level-one" content="{{raw.adseoclasslevelone}}"/>
    <meta name="product-id" content="{{raw.adassetdefinitionnumber}}"/>
    <meta name="clickableuri" content="{{raw.clickableuri}}"/>  
    <meta name="pageurl" content="{{raw.clickableuri}}"/>  
    <meta name="template" content="product-detail-page"/>  
    {{#if (eq raw.adseoclasslevelone "unavailable")}}
    <meta name="robots" content="noindex, nofollow">
    {{/if}}
    {{#if (eq raw.adstatus "active")}} {{> meta-jsonld}} {{/if}}
  </head>

  <body>
    <header></header>
    <main>
      {{> overview-section }}
    </main>
    <footer></footer>
  </body>
</html>
