<div class="product-protocols {{class}}">
    <div>
        <div>
            <h3>{{productprotocols}}</h3>
        </div>
    </div>
    <div>
        <div>
            <p>For this product, it's our understanding that no specific protocols are required. You can visit:</p>
        </div>
        <div>
            <ul>
                <li>Visit the <a href="{{locale}}/technical-resources/protocols">General protocols</a></li>
                <li>Visit the <a href="{{locale}}/technical-resources/troubleshooting">Troubleshooting</a></li>
                {{#if protocolsdownloads}}
                {{#each protocolsdownloads}}
                {{#if this.url}}
                <li>
                    Download <a href="{{this.url}}" target="_blank">
                        {{this.documentType}}|{{this.language}}</a>
                </li>
                {{/if}}
                {{/each}}
                {{/if}}
            </ul>
        </div>
    </div>
    <div>
        <div>
        {{#each notes}}
            {{#if (eq this.noteType "procedureSummary")}}
                <div><p>{{{this.statement}}}</p></div>
            {{/if}}
        {{/each}}
        </div>
    </div>
</div>
