<div class="product-alternate {{class}}">
   {{#if alternateproducts}}
   <div>
      <div><h3>Consider this alternative</h3></div>
   </div>
   <div>
      <div><p>{{ alternateproducts.productCode }}</p></div>
   </div>
   <div>
      <div><h3>{{ alternateproducts.name }}</h3></div>
   </div>
   <div>
      <div><p>{{ alternateproducts.reviewsSummary.aggregatedRating }}</p></div>
   </div>
   <div>
      <div><p>{{ alternateproducts.reviewsSummary.numberOfReviews }} Reviews</p></div>
   </div>
   <div>
      <div><p>{{raw.adpublicationscount}} Publications</p></div>
   </div>
   <div>
      {{#if target}}
      <div>
         <h6>Target</h6>
         <p>{{target.adPrimaryTargetName}}</p>
      </div>
      {{/if}}

      {{#if raw.adapplications}}
      <div>
          <h6>Application</h6>
          <p>
              {{#each raw.adapplications}}
              {{#if @last}} {{this}}
              {{else}}{{this}},
              {{/if}}
              {{/each}}
          </p>
      </div>
      {{/if}}

      
      {{#if raw.adspecies}}
      <div>
          <h6>Reactivity</h6>
          <p>{{raw.adspecies}}</p>
      </div>
      {{/if}} 

      {{#if raw.adhostspecies}}
      <div>
          <h6>Host species</h6>
          <p>{{raw.adhostspecies}}</p>
      </div>
      {{/if}}
   </div>
   <div>
      <div><a href="{{concat '/en-us/product' alternateproducts.type alternateproducts.productSlug}}" target="_blank">View product</a></div>
   </div>
   {{/if}}

   {{#if toprecommendedproducts}}
   <div>
      <div><h3>Abcam Recommends</h3></div>
   </div>
   <div>
      {{#each toprecommendedproducts}}
         {{#if this.productCode}}
         <div>
            <div><p>{{ this.productCode }}</p></div>
         </div>
         {{/if}}
         {{#if this.name}}
         <div>
            <div><h3>{{ this.name }}</h3></div>
         </div>
         {{/if}}
         {{#if this.reviewsSummary}}
         <div>
            <div><p>{{ this.reviewsSummary.aggregatedRating }}</p></div>
         </div>
         {{/if}}
         {{#if this.reviewsSummary}}
         <div>
            <div><p>{{ this.reviewsSummary.numberOfReviews }} Reviews</p></div>
         </div>
         {{/if}}
         {{#if this.adpublicationscount}}
         <div>
            <div><p>{{raw.adpublicationscount}} Publications</p></div>
         </div>
         {{/if}}
         <div>
            {{#if target}}
            <div>
               <h6>Target</h6>
               <p>{{target.adPrimaryTargetName}}</p>
            </div>
            {{/if}}

            {{#if raw.adapplications}}
            <div>
                <h6>Application</h6>
                <p>
                    {{#each raw.adapplications}}
                    {{#if @last}} {{this}}
                    {{else}}{{this}},
                    {{/if}}
                    {{/each}}
                </p>
            </div>
            {{/if}}

            
            {{#if raw.adspecies}}
            <div>
                <h6>Reactivity</h6>
                <p>{{raw.adspecies}}</p>
            </div>
            {{/if}} 

            {{#if raw.adhostspecies}}
            <div>
                <h6>Host species</h6>
                <p>{{raw.adhostspecies}}</p>
            </div>
            {{/if}}
         </div>
         {{#if this.productSlug}}
         <div>
            <div><a href="{{concat '/en-us/product' this.type this.productSlug}}" target="_blank">View product</a></div>
         </div>
         {{/if}}
      {{/each}}
   </div>
   {{/if}}
</div>