<div class="product-promise {{class}}">
    <div>
        <div>
            <h3>{{productpromise}}</h3>
        </div>
    </div>
    <div>
        <div>
            <p>{{productpromise1}}</p>
        </div>
        <div>
            {{#if locale}}
            <p>{{productpromise2}}<a href="{{locale}}/legal/product-promise-terms-conditions" target="_self">{{productpromise3}}</a>{{productpromise4}}</p>
            {{else}}
            <p>{{productpromise2}}<a href="/legal/product-promise-terms-conditions" target="_self">{{productpromise3}}</a>{{productpromise4}}</p>
            {{/if}}
        </div>
    </div>
</div>