<div class="product-supplementary-info {{class}}">
    {{#if summarynotes}}
    <div>
        <div>
            <h3>{{supplementaryinfo}}</h3>
            <p>This supplementary information is collated from multiple sources and compiled automatically.</p>
        </div>
    </div>
        {{#each summarynotes}}
        <div>
            <div>
                {{#if (eq this.noteType "targetSummaryMechanical")}}
                <h5>{{activitysummary}}</h5>
                {{else if (eq this.noteType "targetSummaryBiological")}}
                <h5>Biological function summary</h5>
                {{else if (eq this.noteType "disease")}}
                <h5>{{associateddiseasesanddisorders}}</h5>
                {{else}}
                <h5>Pathways</h5>
                {{/if}}
                <p>{{#stripTags this.statement}}{{this.statement}}{{/stripTags}}</p>
            </div>
        </div>
        {{/each}}
    {{/if}}
</div>