<div class="product-alternate {{class}}">
   {{#if alternateproducts}}
   <div>
      <div><h3>{{haveyouthoughtaboutthisalternative}}</h3></div>
   </div>
   <div>
      <div><p>{{ alternateproducts.productCode }}</p></div>
   </div>
   <div>
      <div><h3>{{ alternateproducts.name }}</h3></div>
   </div>
   <div>
      <div><p>{{ alternateproducts.reviewsSummary.aggregatedRating }}</p></div>
      <div><p>{{ alternateproducts.reviewsSummary.numberOfReviews }} Reviews</p></div>
   </div>
   <div>
      <div><a href="{{concat locale '/products' alternateproducts.type alternateproducts.productSlug}}" target="_blank">View product</a></div>
   </div>
   <div>
	   <div>
         <h6>{{whyisthisrecommended}}</h6>
         <p>
            We’re constantly upgrading our range to offer the highest quality products.
            We have selected this alternative product for your review because it gives improved performance, is easier and
            more convenient to use, or is available faster.
         </p>
	   </div>      
   </div>
   {{/if}}

   {{#if toprecommendedproducts}}
   <div>
      <div><h3>{{youmaybeinterestedin}}:</h3></div>
   </div>
   <div>
      {{#each toprecommendedproducts}}
         {{#if this.productCode}}
         <div>
            <div><p>{{ this.productCode }}</p></div>
         </div>
         {{/if}}
         {{#if this.name}}
         <div>
            <div><h3>{{ this.name }}</h3></div>
         </div>
         {{/if}}
         {{#if this.reviewsSummary}}
         <div>
            <div><p>{{ this.reviewsSummary.aggregatedRating }}</p></div>
            <div><p>{{ this.reviewsSummary.numberOfReviews }} Reviews</p></div>
         </div>
         {{/if}}
         {{#if this.productSlug}}
         <div>
            <div><a href="{{concat locale '/products' this.type this.productSlug}}" target="_blank">View product</a></div>
         </div>
         {{/if}}
      {{/each}}
   </div>
   <div>
		<div>
         <h6>{{whyisthisrecommended}}</h6>
         <p>
            We recommend this product because it’s often used in the same experiment or related research.
         </p>
         <p>            
            We advise that you always check the datasheet to ensure it fits your experiments, or contact our
            <a href="{{concat locale '/contact-us'}}">technical team</a> for help.
         </p>
		</div>
   </div>
   {{/if}}
</div>