{{#if (eq raw.adcategorytype "Proteins & Peptides")}}
<div class="product-keyfacts {{class}}">
    <div>
        <div>
            <h3>Specifications</h3>
        </div>
    </div>
    <div>
        {{#if raw.adform}}
        <div>
            <h6>Form</h6>
            <p>{{raw.adform}}</p>
        </div>
        {{/if}}
        {{#if purificationnotes}}
        <div>
            <h6>Additional notes</h6>
            {{#each purificationnotes}}
            <div>
                <div>
                    <p>{{{this.statement}}}</p>
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </div>
</div>
{{/if}}