<div class="product-reactivity {{class}}">
    <div>
        <div><h3>Reactivity data</h3></div>
    </div>
    <div>
      <div>
        <p>
          {
            {{#if (eq raw.adcategorytype "Primary Antibodies")}}
                {{#if tabledata}}            
                "title": "Reactivity Data",
                "filters": {
                    "stats": ["", "Species", "Dilution Info", "Notes"],
                    "tabs": {
                        "all-applications": {"fullname" : "All Applications", "shortname": "All Applications"},
                        {{#each applications}}
                        {{#if @last}} "{{#replaceSlash this.name}} {{this.name}} {{/replaceSlash}}" : {"fullname" : "{{this.fullName}}", "shortname":"{{this.name}}"}
                        {{else}} "{{#replaceSlash this.name}} {{this.name}} {{/replaceSlash}}" : {"fullname" : "{{this.fullName}}", "shortname":"{{this.name}}"},
                        {{/if}}
                        {{/each}}
                    },
                    "product-promise": {
                        "all": "all",
                        "testedAndGuaranteed": "tested",
                        "guaranteed": "expected",
                        "predicted": "predicted",
                        "notRecommended": "not-recommended"
                    }
                },
                "values": {
                    {{#each tabledata}}
                    {{#if @last}}
                    "{{this.species}}": {
                        {{#each ../applications}}
                        {{#if @last}}
                            "{{#replaceSlash this.name}} {{this.name}} {{/replaceSlash}}-species-checked": "{{getReactType ../this this.name}}",
                            "{{#replaceSlash this.name}} {{this.name}} {{/replaceSlash}}-species-dilution-info": "{{getReactDilution ../this this.name}}",
                            "{{#replaceSlash this.name}} {{this.name}} {{/replaceSlash}}-species-notes": "{{getReactNotes ../this this.name}}"
                        {{else}}             
                            "{{#replaceSlash this.name}} {{this.name}} {{/replaceSlash}}-species-checked": "{{getReactType ../this this.name}}",
                            "{{#replaceSlash this.name}} {{this.name}} {{/replaceSlash}}-species-dilution-info": "{{getReactDilution ../this this.name}}",
                            "{{#replaceSlash this.name}} {{this.name}} {{/replaceSlash}}-species-notes": "{{getReactNotes ../this this.name}}",                
                        {{/if}}
                        {{/each}}
                    }
                    {{else}}
                    "{{this.species}}": {
                        {{#each ../applications}}
                        {{#if @last}}
                            "{{#replaceSlash this.name}} {{this.name}} {{/replaceSlash}}-species-checked": "{{getReactType ../this this.name}}",
                            "{{#replaceSlash this.name}} {{this.name}} {{/replaceSlash}}-species-dilution-info": "{{getReactDilution ../this this.name}}",
                            "{{#replaceSlash this.name}} {{this.name}} {{/replaceSlash}}-species-notes": "{{getReactNotes ../this this.name}}"             
                        {{else}}
                            "{{#replaceSlash this.name}} {{this.name}} {{/replaceSlash}}-species-checked": "{{getReactType ../this this.name}}",
                            "{{#replaceSlash this.name}} {{this.name}} {{/replaceSlash}}-species-dilution-info": "{{getReactDilution ../this this.name}}",
                            "{{#replaceSlash this.name}} {{this.name}} {{/replaceSlash}}-species-notes": "{{getReactNotes ../this this.name}}",                
                        {{/if}}
                        {{/each}}
                    },
                    {{/if}}
                    {{/each}}            
                }
                {{/if}} 
            {{else}}
                {{#if applications}}    
                "title": "Reactivity Data",
                "filters": {
                    "stats": ["", "Reactivity", "Dilution Info", "Notes"]
                },            
                "values": {   
                {{#each applications}}               
                    {{#if @last}}
                    "{{this.name}}": {
                        {{#each species}}           
                            "reactivity":"{{this.suitability}}",
                            "dilution-info":"{{this.recommendedDilution}}",
                            "notes":"{{escapeQuotes this.notes}}"
                        {{/each}}
                    }
                    {{else}}
                    "{{this.name}}": {
                        {{#each species}}           
                            "reactivity":"{{this.suitability}}",
                            "dilution-info":"{{this.recommendedDilution}}",
                            "notes":"{{escapeQuotes this.notes}}"
                        {{/each}}
                    },
                    {{/if}}
                {{/each}}
                }
                {{/if}}
            {{/if}}
          }
        </p>
      </div>
    </div>
  </div>