{{#if (eq raw.adcategorytype "Cell Lines & Lysates")}}
<div class="product-cell-culture {{class}}">
    <div>
        <div>
            <h3>{{cellculture}}</h3>
        </div>
    </div>
    <div>
        {{#if (and celltargetattr.biosafetyLevelEurope celltargetattr.biosafetyLevelUnitedStates)}}
        <div>
            <h6>{{biosafetylevel}}</h6>
            <p>EU: {{celltargetattr.biosafetyLevelEurope}} US: {{celltargetattr.biosafetyLevelUnitedStates}}</p>
        </div>
        {{/if}}

        {{#if celltargetattr.cultureproperties}}
        <div>
            <h6>{{adherentsuspension}}</h6>
            <p>{{celltargetattr.cultureproperties}}</p>
        </div>
        {{/if}}

        {{#if celltargetattr.sex}}
        <div>
            <h6>{{gender}}</h6>
            <p>{{celltargetattr.sex}}</p>
        </div>
        {{/if}}

        {{#if celltargetattr.viability}}
        <div>
            <h6>{{viability}}</h6>
            <p>{{celltargetattr.viability}}</p>
        </div>
        {{/if}}
    </div>
    <div>
        <div>
            <h3>{{handlingprocedures}}</h3>
        </div>
    </div>
    <div>
        {{#if cellattr.initialHandlingGuidelines}}
        <div>
            <h6>{{initialhandlingguidelines}}</h6>
            <p>{{{cellattr.initialHandlingGuidelines}}}</p>
        </div>
        {{/if}}

        {{#if cellattr.subcultureguidelines}}
        <div>
            <h6>{{subcultureguidelines}}</h6>
            <p>{{{cellattr.subcultureguidelines}}}</p>
        </div>
        {{/if}}

        {{#if cellattr.cultureMedium}}
        <div>
            <h6>{{culturemedium}}</h6>
            <p>{{cellattr.cultureMedium}}</p>
        </div>
        {{/if}}

        {{#if cellattr.cryopreservationMedium}}
        <div>
            <h6>{{cryopreservationmedium}}</h6>
            <p>{{cellattr.cryopreservationMedium}}</p>
        </div>
        {{/if}}
    </div>
</div>
{{/if}}
