<div class="product-storage-info {{class}}">
  <div>
    <div>
      <h3>Properties and storage information</h3>
    </div>
  </div>


  {{#if raw.adform}}
  <div>
    <div>
      <h6>Form</h6>
      <p>{{raw.adform}}</p>
    </div>
  </div>
  {{/if}}
  {{#if raw.adreconstitution}}
  <div>
    <div>
      <h6>Reconstitution</h6>
      <p>{{raw.adreconstitution}}</p>
    </div>
  </div>
  {{/if}}
  {{#if purity }}
  <div>
    <div>
      <h6>Purity</h6>
      <p>{{purity}}</p>
    </div>
  </div>
  {{/if}}
  {{#if purificationtechnique}}
  <div>
    <div>
      <h6>Purification technique</h6>
      <p>{{purificationtechnique}}</p>
    </div>
  </div>
  {{/if}}
  {{#if purificationnotesstatement}}
  <div>
    <div>
      <h6>Purification notes</h6>
      <p>{{{purificationnotesstatement}}}</p>
    </div>
  </div>
  {{/if}}
  {{#if raw.adformulation}}
  <div>
    <div>
      <h6>Storage buffer</h6>
      <p>{{raw.adformulation}}</p>
    </div>
  </div>
  {{/if}}


  {{#if (isOneOf raw.adseoclasslevelone values="cell-lines,tissue-lysates,cell-lysates")}}
    {{#if celltargetattr.gene}}
    <div>
      <div>
        <h6>Gene name</h6>
        <p>{{celltargetattr.gene}}</p>
      </div>
    </div>
    {{/if}}
    {{#if celltargetattr.geneEditingType}}
    <div>
      <div>
        <h6>Gene editing type</h6>
        <p>{{celltargetattr.geneEditingType}}</p>
      </div>
    </div>
    {{/if}}
    {{#if celltargetattr.geneEditingMethod}}
    <div>
      <div>
        <h6>Gene editing method</h6>
        <p>{{celltargetattr.geneEditingMethod}}</p>
      </div>
    </div>
    {{/if}}
    {{#if celltargetattr.knockoutvalidation}}
    <div>
      <div>
        <h6>Knockout validation</h6>
        <p>{{celltargetattr.knockoutvalidation}}</p>
      </div>
    </div>
    {{/if}}
    {{#if celltargetattr.zygosity}}
    <div>
      <div>
        <h6>Zygosity</h6>
        <p>{{celltargetattr.zygosity}}</p>
      </div>
    </div>
    {{/if}}
  {{/if}}

  {{#if raw.adstorageshippedatconditions}}
  <div>
    <div>
      <h5>Shipped at Conditions</h5>
    </div>
    <div>
      <p>{{raw.adstorageshippedatconditions}}</p>
    </div>
  </div>
  {{/if}}
  {{else if raw.adshippedatconditions}}
  <div>
    <div>
      <h5>Shipped at conditions</h5>
    </div>
    <div>
      <p>{{raw.adshippedatconditions}}</p>
    </div>
  </div>
  {{/if}}
  {{#if raw.adappropriateshorttermstorageduration}}
  <div>
    <div>
      <h5>Appropriate short-term storage duration</h5>
    </div>
    <div>
      <p>{{raw.adappropriateshorttermstorageduration}}</p>
    </div>
  </div>
  {{/if}}
  {{#if raw.adappropriateshorttermstorageconditions}}
  <div>
    <div>
      <h5>Appropriate short-term storage conditions</h5>
    </div>
    <div>
      <p>{{raw.adappropriateshorttermstorageconditions}}</p>
    </div>
  </div>
  {{/if}}
  {{#if raw.adappropriatelongtermstorageconditions}}
  <div>
    <div>
      <h5>Appropriate long-term storage conditions</h5>
    </div>
    <div>
      <p>{{raw.adappropriatelongtermstorageconditions}}</p>
    </div>
  </div>
  {{/if}}
  {{#if raw.adaliquotinginformation}}
  <div>
    <div>
      <h5>Aliquoting information</h5>
    </div>
    <div>
      <p>{{raw.adaliquotinginformation}}</p>
    </div>
  </div>
  {{/if}}
  {{#if raw.adstorageinformation}}
  <div>
    <div>
      <h5>Storage information</h5>
    </div>
    <div>
      <p>{{raw.adstorageinformation}}</p>
    </div>
  </div>
  {{/if}}
</div>