<div class="product-keyfacts {{class}}">
    <div>
        <div>
            <h3>{{keyfacts}}</h3>
        </div>
    </div>
    <div>
        {{#if (eq raw.adseoclasslevelone "primary-antibodies")}}

            {{#if raw.adhostspecies}}
            <div>
                <h6>{{hostspecies}} </h6>
                <p>{{raw.adhostspecies}}</p>
            </div>
            {{/if}}

            {{#if raw.adclonality}}
            <div>
                <h6>{{clonality}}</h6>
                <p>{{raw.adclonality}}</p>
            </div>
            {{/if}}

            {{#if raw.adclonenumber}}
            <div>
                <h6>{{clonenumber}}</h6>
                <p>{{raw.adclonenumber}}</p>
            </div>
            {{/if}}

            {{#if raw.adisotype}}
            <div>
                <h6>{{isotype}}</h6>
                <p>{{raw.adisotype}}</p>
            </div>
            {{/if}}

            {{#if raw.adantibodylightchaintype}}
            <div>
                <h6>{{lightchaintype}}</h6>
                <p>{{raw.adantibodylightchaintype}}</p>
            </div>
            {{/if}} 

            {{#if conjugations}}
            <div>
                <h6>{{conjugation}}</h6>
                <p>
                    {{#each conjugations}}
                    {{#if @last}} {{this.label}}
                    {{else}}{{this.label}},
                    {{/if}}
                    {{/each}}
                </p>
            </div>
            {{/if}}

            {{#if conjugations }}
            <div>
                <h6>{{excitation}}/{{emission}}</h6>
                {{#each conjugations}}
                {{#if this.emission }}
                    {{#if this.excitation}}
                        <p>Ex: {{this.excitation}}nm, Em: {{this.emission}}nm</p>
                    {{/if}}
                {{/if}}
                {{/each}}
            </div>
            {{/if}}

            {{#if raw.adcarrierfree}}
            <div>
                <h6>{{carrierfree}}</h6>
                {{#if (eq raw.adcarrierfree "No")}}
                    <p>No</p>
                {{else}}
                    <p>Yes</p>
                {{/if}}
            </div>
            {{/if}} 

            {{#if targetattr.targetSpecies}}
            <div>
                <h6>{{targetspecies}}</h6>
                <p>{{targetattr.targetSpecies}}</p>
            </div>
            {{/if}}

            {{#if raw.adspecies}}
            <div>
                <h6>{{reactswith}}</h6>
                <p>{{raw.adspecies}}</p>
            </div>
            {{/if}}
            
            {{#if raw.adapplications}}
            <div>
                <h6>{{applicationsheading}}</h6>
                <p>
                    {{#each raw.adapplications}}
                    {{#if @last}} {{this}}
                    {{else}}{{this}},
                    {{/if}}
                    {{/each}}
                </p>
            </div>
            {{/if}}

            {{#if relatedimmunogens}}
            <div>
                <h6>{{immunogen}}</h6>
                {{#if (gt (len relatedimmunogens 0) 1)}}
                <div>
                    <em>This product was produced with the following immunogens:</em>
                </div>
                {{/if}}
                {{#each relatedimmunogens}}
                    {{#if this.sensitivity}}
                        <p>{{this.sensitivity}}</p>
                    {{/if}}
                    {{#if this.description}}
                    <p>
                        {{this.description}}
                        {{#if this.databaseLinks}}
                        {{#each this.databaseLinks}}
                        Database link <a href="{{this.value}}">{{this.label}}</a>
                        {{/each}}
                        {{/if}}
                    </p>
                    {{/if}}
                {{/each}}
            </div>
            {{else}}            
                {{#if (and immunogenlinkjson immunogendesc)}}
                <div>
                    <h6>{{immunogen}}</h6>
                    <p>{{immunogendesc}} {{raw.adimmunogencommercialsensitivity}}</p> <a href="{{immunogenlinkjson.value}}">{{immunogenlinkjson.label}}</a>
                </div>
                {{else if raw.adimmunogencommercialsensitivity}}
                <div>
                    <h6>{{immunogen}}</h6>
                    <p>{{raw.adimmunogencommercialsensitivity}}</p>
                </div>
                {{/if}}
            {{/if}}

            {{#if raw.adantibodyepitope}}
            <div>
                <h6>{{epitope}}</h6>
                <p>{{raw.adantibodyepitope}}</p>
            </div>
            {{/if}}            

            {{#if raw.adantibodyspecificity}}
            <div>
                <h6>{{specificity}}</h6>
                <p>{{{raw.adantibodyspecificity}}}</p>
            </div>
            {{/if}}
        {{/if}}

        {{#if (eq raw.adseoclasslevelone "secondary-antibodies")}}

            {{#if raw.adhostspecies}}
            <div>
                <h6>{{hostspecies}}</h6>
                <p>{{raw.adhostspecies}}</p>
            </div>
            {{/if}}

            {{#if targetattr.targetSpecies}}
            <div>
                <h6>{{targetspecies}}</h6>
                <p>{{targetattr.targetSpecies}}</p>
            </div>
            {{/if}}

            {{#if secondaryantibodytargetisotypes}}
            <div>
                <h6>{{targetisotype}}</h6>
                <p>{{secondaryantibodytargetisotypes}}</p>
            </div>
            {{/if}}

            {{#if targetattr.targetSpecificity}}
            <div>
                <h6>{{targetspecificity}}</h6>
                <p>{{targetattr.targetSpecificity}}</p>
            </div>
            {{/if}}

            {{#if speciesreactivity}}
            <div>
                <h6>{{minimalcrossreactivity}}</h6>
                <p>
                {{#each speciesreactivity}}
                {{#if (eq this.reactivityType "DOES_NOT_REACT")}}
                    {{#if @last}} {{this.species}}
                    {{else}}{{this.species}}, 
                    {{/if}}
                {{/if}}
                {{/each}}
                </p>    
            </div>
            {{/if}}

            {{#if raw.adsecondaryantibodyattributespreadsorbed}}
            <div>
                <h6>{{preadsorbed}}</h6>
                {{#if (eq raw.adsecondaryantibodyattributespreadsorbed "False")}}
                <p>No</p>
                {{else}}
                <p>Yes</p>
                {{/if}}
            </div>
            {{/if}}

            {{#if conjugations}}
            <div>
                <h6>{{conjugation}}</h6>
                <p>
                    {{#each conjugations}}
                    {{#if @last}} {{this.label}}
                    {{else}}{{this.label}},
                    {{/if}}
                    {{/each}}
                </p>
            </div>
            {{/if}}

            {{#if conjugations }}
            <div>
                <h6>{{excitation}}/{{emission}}</h6>
                {{#each conjugations}}
                {{#if this.emission }}
                    {{#if this.excitation}}
                        <p>Ex: {{this.excitation}}nm, Em: {{this.emission}}nm</p>
                    {{/if}}
                {{/if}}
                {{/each}}
            </div>
            {{/if}}

            {{#if raw.adapplications}}
            <div>
                <h6>{{applicationsheading}}</h6>
                <p>
                    {{#each raw.adapplications}}
                    {{#if @last}} {{this}}
                    {{else}}{{this}},
                    {{/if}}
                    {{/each}}
                </p>
            </div>
            {{/if}}

            {{#if raw.adclonality}}
            <div>
                <h6>{{clonality}}</h6>
                <p>{{raw.adclonality}}</p>
            </div>
            {{/if}}

            {{#if raw.adclonenumber}}
            <div>
                <h6>{{clonenumber}}</h6>
                <p>{{raw.adclonenumber}}</p>
            </div>
            {{/if}}

            {{#if raw.adisotype}}
            <div>
                <h6>{{isotype}}</h6>
                <p>{{raw.adisotype}}</p>
            </div>
            {{/if}}

            {{#if raw.adantibodylightchaintype}}
            <div>
                <h6>{{lightchaintype}}</h6>
                <p>{{raw.adantibodylightchaintype}}</p>
            </div>
            {{/if}}

            {{#if relatedimmunogens}}
            <div>
                <h6>{{immunogen}}</h6>
                {{#if (gt (len relatedimmunogens 0) 1)}}
                <div>
                    <em>This product was produced with the following immunogens:</em>
                </div>
                {{/if}}
                {{#each relatedimmunogens}}
                    {{#if this.sensitivity}}
                        <p>{{this.sensitivity}}</p>
                    {{/if}}
                    {{#if this.description}}
                    <p>
                        {{this.description}}
                        {{#if this.databaseLinks}}
                        {{#each this.databaseLinks}}
                        Database link <a href="{{this.value}}">{{this.label}}</a>
                        {{/each}}
                        {{/if}}
                    </p>
                    {{/if}}
                {{/each}}
            </div>
            {{else}}            
                {{#if (and immunogenlinkjson immunogendesc)}}
                <div>
                    <h6>{{immunogen}}</h6>
                    <p>{{immunogendesc}} {{raw.adimmunogencommercialsensitivity}}</p> <a href="{{immunogenlinkjson.value}}">{{immunogenlinkjson.label}}</a>
                </div>
                {{else if raw.adimmunogencommercialsensitivity}}
                <div>
                    <h6>{{immunogen}}</h6>
                    <p>{{raw.adimmunogencommercialsensitivity}}</p>
                </div>
                {{/if}}
            {{/if}}

            {{#if raw.adantibodyepitope}}
            <div>
                <h6>{{epitope}}</h6>
                <p>{{raw.adantibodyepitope}}</p>
            </div>
            {{/if}}

            {{#if raw.adantibodyspecificity}}
            <div>
                <h6>{{specificity}}</h6>
                <p>{{{raw.adantibodyspecificity}}}</p>
            </div>
            {{/if}}

        {{/if}}

        {{#if (isOneOf raw.adseoclasslevelone values="antibiotics,beads,blood-derived-fluids,buffers,dyes,equipment-tools,lab-consumables,media,membranes,nucleic-acids,panels,reagents,slides,standards,vectors")}}

            {{#if raw.adapplications}}
            <div>
                <h6>{{applicationsheading}}</h6>
                <p>
                    {{#each raw.adapplications}}
                    {{#if @last}} {{this}}
                    {{else}}{{this}},
                    {{/if}}
                    {{/each}}
                </p>
            </div>
            {{/if}}

            {{#if target}}
            <div>
                <h6>{{targetheading}}</h6>
                <p>{{target.adPrimaryTargetName}}</p>
            </div>
            {{/if}}

            {{#if raw.adkitassaytype}}
            <div>
                <h6>{{assaytype}}</h6>
                <p>{{raw.adkitassaytype}}</p>
            </div>
            {{/if}}

            {{#if raw.adspecies}}
            <div>
                <h6>{{reactswith}}</h6>
                <p>{{raw.adspecies}}</p>
            </div>
            {{/if}}

            {{#if raw.adhostspecies}}
            <div>
                <h6>{{hostspecies}}</h6>
                <p>{{raw.adhostspecies}}</p>
            </div>
            {{/if}}

            {{#if conjugations}}
            <div>
                <h6>{{conjugation}}</h6>
                <p>
                    {{#each conjugations}}
                    {{#if @last}} {{this.label}}
                    {{else}}{{this.label}},
                    {{/if}}
                    {{/each}}
                </p>
            </div>
            {{/if}}

            {{#if conjugations}}
            <div>
                <h6>{{excitation}}/{{emission}}</h6>
                {{#each conjugations}}
                {{#if this.emission}}
                    {{#if this.excitation}}
                        <p>Ex: {{this.excitation}}nm, Em: {{this.emission}}nm</p>
                    {{/if}}
                {{/if}}
                {{/each}}
            </div>
            {{/if}}

            {{#if purity}}
            <div>
                <h6>{{purityheading}}</h6>
                <p>{{purity}}</p>
            </div>
            {{/if}}

            {{#if raw.adreconstitution}}
            <div>
                <h6>{{reconstitution}}</h6>
                <p>{{raw.adreconstitution}}</p>
            </div>
            {{/if}}

            {{#if raw.adform}}
            <div>
                <h6>{{form}}</h6>
                <p>{{raw.adform}}</p>
            </div>
            {{/if}}

            {{#if raw.adformulation}}
            <div>
                <h6>{{storagebuffer}}</h6>
                <p>{{raw.adformulation}}</p>
            </div>
            {{/if}}

        {{/if}}

        {{#if (eq raw.adseoclasslevelone "biochemicals")}}

            {{#if biochemicalattr.casNumber}}
            <div>
                <h6>{{casnumber}}</h6>
                <p>{{biochemicalattr.casNumber}}</p>
            </div>
            {{/if}}

            {{#if purity}}
            <div>
                <h6>{{purityheading}}</h6>
                <p>{{purity}}</p>
            </div>
            {{/if}}

            {{#if raw.adform}}
            <div>
                <h6>{{form}}</h6>
                <p>{{raw.adform}}</p>
            </div>
            {{/if}}

            {{#if biochemicalattr.source}}
            <div>
                <h6>{{source}}</h6>
                <p>{{biochemicalattr.source}}</p>
            </div>
            {{/if}}

            {{#if biochemicalattr.molecularWeight}}
            <div>
                <h6>{{molecularweight}}</h6>
                <p>{{biochemicalattr.molecularWeight}}</p>
            </div>
            {{/if}}

            {{#if biochemicalattr.molecularFormula}}
            <div>
                <h6>{{molecularformula}}</h6>
                <p>{{biochemicalattr.molecularFormula}}</p>
            </div>
            {{/if}}

            {{#if biochemicalattr.pubChemId}}
            <div>
                <h6>{{pubchem}}</h6>
                <p>{{biochemicalattr.pubChemId}}</p>
            </div>
            {{/if}}

            {{#if biochemicalattr.nature}}
            <div>
                <h6>{{nature}}</h6>
                <p>{{biochemicalattr.nature}}</p>
            </div>
            {{/if}}

            {{#if biochemicalattr.solubility}}
            <div>
                <h6>{{solubility}}</h6>
                {{#each biochemicalattr.solubility}}
                    <p>{{{this}}}</p>
                {{/each}}
            </div>
            {{/if}}

            {{#if biochemicalattr.biochemicalName}}
            <div>
                <h6>{{biochemicalname}}</h6>
                <p>{{biochemicalattr.biochemicalName}}</p>
            </div>
            {{/if}}

            {{#if biochemicalattr.biologicalDescription}}
            <div>
                <h6>{{biologicaldescription}}</h6>
                <p>{{{biochemicalattr.biologicalDescription}}}</p>
            </div>
            {{/if}}

            {{#if biochemicalattr.canonicalSmiles}}
            <div>
                <h6>{{canonicalsmiles}}</h6>
                <p>{{biochemicalattr.canonicalSmiles}}</p>
            </div>
            {{/if}}

            {{#if biochemicalattr.isomericSmiles}}
            <div>
                <h6>{{isomericsmiles}}</h6>
                <p>{{biochemicalattr.isomericSmiles}}</p>
            </div>
            {{/if}}

            {{#if biochemicalattr.inchi.value}}
            <div>
                <h6>{{inchi}}</h6>
                <p>{{biochemicalattr.inchi.value}}</p>
            </div>
            {{/if}}

            {{#if biochemicalattr.inchi.key}}
            <div>
                <h6>{{inchikey}}</h6>
                <p>{{biochemicalattr.inchi.key}}</p>
            </div>
            {{/if}}

            {{#if biochemicalattr.iupacName}}
            <div>
                <h6>{{iupacname}}</h6>
                <p>{{biochemicalattr.iupacName}}</p>
            </div>
            {{/if}}

            {{#if raw.adreconstitution}}
            <div>
                <h6>{{reconstitution}}</h6>
                <p>{{raw.adreconstitution}}</p>
            </div>
            {{/if}}

            {{#if biochemicalattr}}
                {{#if biochemicalattr.emission}}
                    {{#if biochemicalattr.excitation}}
                    <div>
                        <h6>{{excitation}}/{{emission}}</h6>
                        <p>Ex: {{biochemicalattr.excitation}}nm, Em: {{biochemicalattr.emission}}nm</p>
                    </div>
                    {{/if}}
                {{/if}}
            {{/if}}

        {{/if}}

        {{#if (isOneOf raw.adseoclasslevelone values="elisa-kits,matched-antibody-pair-kits,elispot-kits,lateral-flow,assay-kits")}}

            {{#if raw.adkitdetectionmethod}}
            <div>
                <h6>{{detectionmethod}}</h6>
                <p>{{raw.adkitdetectionmethod}}</p>
            </div>
            {{/if}}

            {{#if sampletypes}}
            <div>
                <h6>{{sampletypesheading}}</h6>
                <p>
                    {{#each sampletypes}}
                    {{#if @last}} {{this.name}}
                    {{else}}{{this.name}},
                    {{/if}}
                    {{/each}}
                </p>
            </div>
            {{/if}}

            {{#if raw.adspecies}}
            <div>
                <h6>{{reactswith}}</h6>
                <p>{{raw.adspecies}}</p>
            </div>
            {{/if}}

            {{#if raw.adkitassaytype}}
            <div>
                <h6>{{assaytype}}</h6>
                <p>{{raw.adkitassaytype}}</p>
            </div>
            {{/if}}

            {{#if raw.adkitsensitivity}}
            <div>
                <h6>{{sensitivity}}</h6>
                <p>{{raw.adkitsensitivity}}</p>
            </div>
            {{/if}}

            {{#if raw.adkitrange}}
            <div>
                <h6>{{range}}</h6>
                <p>{{raw.adkitrange}}</p>
            </div>
            {{/if}}

            {{#if raw.adkitassaytime}}
            <div>
                <h6>{{assaytime}}</h6>
                <p>{{raw.adkitassaytime}}</p>
            </div>
            {{/if}}

            {{#if raw.adkitassayplatform}}
            <div>
                <h6>{{assayplatform}}</h6>
                <p>{{raw.adkitassayplatform}}</p>
            </div>
            {{/if}}

        {{/if}}

        {{#if (isOneOf raw.adseoclasslevelone values="conjugation-kits,purification-kits,sample-preparation-kits,chromogen-kits,ihc-kits,chip-kits")}}

            {{#if raw.adkitdetectionmethod}}
            <div>
                <h6>{{detectionmethod}}</h6>
                <p>{{raw.adkitdetectionmethod}}</p>
            </div>
            {{/if}}

            {{#if raw.adkitassaytime}}
            <div>
                <h6>{{assaytime}}</h6>
                <p>{{raw.adkitassaytime}}</p>
            </div>
            {{/if}}

            {{#if raw.adkitassayplatform}}
            <div>
                <h6>{{assayplatform}}</h6>
                <p>{{raw.adkitassayplatform}}</p>
            </div>
            {{/if}}

            {{#if sampletypes}}
            <div>
                <h6>{{sampletypesheading}}</h6>
                <p>
                    {{#each sampletypes}}
                    {{#if @last}} {{this.name}}
                    {{else}}{{this.name}},
                    {{/if}}
                    {{/each}}
                </p>
            </div>
            {{/if}}

            {{#if raw.adkitassaytype}}
            <div>
                <h6>{{assaytype}}</h6>
                <p>{{raw.adkitassaytype}}</p>
            </div>
            {{/if}}

            {{#if raw.adspecies}}
            <div>
                <h6>{{reactswith}}</h6>
                <p>{{raw.adspecies}}</p>
            </div>
            {{/if}}

            {{#if raw.adkitrange}}
            <div>
                <h6>{{range}}</h6>
                <p>{{raw.adkitrange}}</p>
            </div>
            {{/if}}

            {{#if raw.adkitsensitivity}}
            <div>
                <h6>{{sensitivity}}</h6>
                <p>{{raw.adkitsensitivity}}</p>
            </div>
            {{/if}}

            {{#if raw.adkitgeneralrecovery}}
            <div>
                <h6>{{generalrecovery}}</h6>
                <p>{{raw.adkitgeneralrecovery}}</p>
            </div>
            {{/if}}

        {{/if}}

        {{#if (eq raw.adseoclasslevelone "proteins-peptides")}}

            {{#if purity}}
            <div>
                <h6>{{purityheading}}</h6>
                <p>{{purity}}</p>
            </div>
            {{/if}}

            {{#if raw.adproteinendotoxinlevel}}
            <div>
                <h6>{{endotoxinlevel}}</h6>
                <p>{{raw.adproteinendotoxinlevel}}</p>
            </div>
            {{/if}}

            {{#if raw.adproteinexpressionsystem}}
            <div>
                <h6>{{expressionsystem}}</h6>
                <p>{{raw.adproteinexpressionsystem}}</p>
            </div>
            {{/if}}

            {{#if sequenceinfotag}}
            <div>
                <h6>{{tags}}</h6>
                <p>
                    {{#each sequenceinfotag}}
                    {{this.tag}} tag {{this.terminus}}
                    {{/each}}
                </p>
            </div>
            {{else}}
            <div>
                <h6>{{tags}}</h6>
                <p>Tag free</p>
            </div>
            {{/if}}

            {{#if raw.adapplications}}
            <div>
                <h6>{{applicationsheading}}</h6>
                <p>
                    {{#each raw.adapplications}}
                    {{#if @last}} {{this}}
                    {{else}}{{this}},
                    {{/if}}
                    {{/each}}
                </p>
            </div>
            {{/if}}

            {{#if raw.adproteinactive}}
            <div>
                <h6>{{biologicallyactive}}</h6>
                {{#if (eq raw.adproteinactive "False")}}
                <p>No</p>
                {{else}}
                <p>Yes</p>
                {{/if}}
            </div>
            {{/if}}

            {{#if raw.adproteinbiologicalactivity}}
            <div>
                <h6>{{biologicalactivity}}</h6>
                <p>{{{raw.adproteinbiologicalactivity}}}</p>
            </div>
            {{/if}}

            {{#if conjugations}}
            <div>
                <h6>{{conjugation}}</h6>
                <p>
                    {{#each conjugations}}
                    {{#if @last}} {{this.label}}
                    {{else}}{{this.label}},
                    {{/if}}
                    {{/each}}
                </p>
            </div>
            {{/if}}

            {{#if raw.adproteinmassspectrometry}}
            <div>
                <h6>{{massspectrometry}}</h6>
                <p>{{{raw.adproteinmassspectrometry}}}</p>
            </div>
            {{/if}}

            {{#if conjugations}}
            <div>
                <h6>{{excitation}}/{{emission}}</h6>
                {{#each conjugations}}
                {{#if this.emission}}
                    {{#if this.excitation}}
                        <p>Ex: {{this.excitation}}nm, Em: {{this.emission}}nm</p>
                    {{/if}}
                {{/if}}
                {{/each}}
            </div>
            {{/if}}

            {{#if raw.adstandardproteinaccession}}
            <div>
                <h6>{{accession}}</h6>
                {{#if target}}
                <p><a href="{{target.adPrimaryTargetIsofromAccessionvalue}}">{{raw.adstandardproteinaccession}}</a></p>
                {{else}}
                <p>{{raw.adstandardproteinaccession}}</p>
                {{/if}}
            </div>
            {{/if}}

            {{#if raw.adanimalfree}}
            <div>
                <h6>{{animalfree}}</h6>
                {{#if (eq raw.adanimalfree "False")}}
                <p>No</p>
                {{else}}
                <p>Yes</p>
                {{/if}}
            </div>
            {{/if}}

            {{#if raw.adcarrierfree}}
            <div>
                <h6>{{carrierfree}}</h6>
                {{#if (eq raw.adcarrierfree "No")}}
                <p>No</p>
                {{else}}
                <p>Yes</p>
                {{/if}}
            </div>
            {{/if}}

            {{#if raw.adstandardproteinspecies}}
            <div>
                <h6>{{species}}</h6>
                <p>{{raw.adstandardproteinspecies}}</p>
            </div>
            {{/if}}

            {{#if raw.adreconstitution}}
            <div>
                <h6>{{reconstitution}}</h6>
                <p>{{raw.adreconstitution}}</p>
            </div>
            {{/if}}

            {{#if raw.adformulation}}
            <div>
                <h6>{{storagebuffer}}</h6>
                <p>{{raw.adformulation}}</p>
            </div>
            {{/if}}

        {{/if}}

        {{#if (isOneOf raw.adseoclasslevelone values="cell-lines,tissue-lysates,cell-lysates")}}

            {{#if raw.adcelllinetargetattributescelltype}}
            <div>
                <h6>{{celltype}}</h6>
                <p>{{raw.adcelllinetargetattributescelltype}}</p>
            </div>
            {{/if}}

            {{#if raw.adcelllinetargetattributesspecies}}
            <div>
                <h6>{{speciesororganism}}</h6>
                <p>{{raw.adcelllinetargetattributesspecies}}</p>
            </div>
            {{/if}}

            {{#if celltargetattr.tissueType}}
            <div>
                <h6>{{tissue}}</h6>
                <p>{{celltargetattr.tissueType}}</p>
            </div>
            {{/if}}

            {{#if raw.adform}}
            <div>
                <h6>{{form}}</h6>
                <p>{{raw.adform}}</p>
            </div>
            {{/if}}

            {{#if celltargetattr.geneEditedCellLineKnockoutValidations}}
            <div>
                <h6>{{knockoutvalidation}}</h6>
                <p>{{celltargetattr.geneEditedCellLineKnockoutValidations}}</p>
            </div>
            {{/if}}

            {{#if celltargetattr.mutationDescription}}
            <div>
                <h6>{{mutationdescription}}</h6>
                <p>{{celltargetattr.mutationDescription}}</p>
            </div>
            {{/if}}

            {{#if cellattr.antibioticResistance}}
            <div>
                <h6>{{antibioticresistance}}</h6>
                <p>{{cellattr.antibioticResistance}}</p>
            </div>
            {{/if}}

            {{#if celltargetattr.disease}}
            <div>
                <h6>{{disease}}</h6>
                <p>{{celltargetattr.disease}}</p>
            </div>
            {{/if}}

            {{#if raw.adreconstitution}}
            <div>
                <h6>{{reconstitution}}</h6>
                <p>{{raw.adreconstitution}}</p>
            </div>
            {{/if}}

        {{/if}}

        {{#if (isOneOf raw.adseoclasslevelone values="antibody-arrays,antibody-panels,multiplex-assay-kits")}}

            {{#if raw.adkitassaytype}}
            <div>
                <h6>{{assaytype}}</h6>
                <p>{{raw.adkitassaytype}}</p>
            </div>
            {{/if}}

            {{#if raw.adspecies}}
            <div>
                <h6>{{reactswith}}</h6>
                <p>{{raw.adspecies}}</p>
            </div>
            {{/if}}

            {{#if target}}
            <div>
                <h6>{{targetheading}}</h6>
                <p>{{target.adPrimaryTargetName}}</p>
            </div>
            {{/if}}

            {{#if raw.adapplications}}
            <div>
                <h6>{{applicationsheading}}</h6>
                <p>
                    {{#each raw.adapplications}}
                    {{#if @last}} {{this}}
                    {{else}}{{this}},
                    {{/if}}
                    {{/each}}
                </p>
            </div>
            {{/if}}

            {{#if raw.adkitdetectionmethod}}
            <div>
                <h6>{{detectionmethod}}</h6>
                <p>{{raw.adkitdetectionmethod}}</p>
            </div>
            {{/if}}

            {{#if raw.adkitassayplatform}}
            <div>
                <h6>{{assayplatform}}</h6>
                <p>{{raw.adkitassayplatform}}</p>
            </div>
            {{/if}}

            {{#if sampletypes}}
            <div>
                <h6>{{sampletypesheading}}</h6>
                <p>
                    {{#each sampletypes}}
                    {{#if @last}} {{this.name}}
                    {{else}}{{this.name}},
                    {{/if}}
                    {{/each}}
                </p>
            </div>
            {{/if}}

        {{/if}}

    </div>
</div>