<div class="product-storage-info {{class}}">
  <div>
    <div><h3>Storage information</h3></div>
  </div>
  {{#if raw.adstorageinformation}}
  <div>
    <div><h5>Storage information</h5></div>
    <div><p>{{raw.adstorageinformation}}</p></div>
  </div>
  {{/if}}
  {{#if raw.adshippedatconditions}}
  <div>
    <div><h5>Shipped at conditions</h5></div>
    <div><p>{{raw.adshippedatconditions}}</p></div>
  </div>
  {{/if}}
  {{#if raw.adappropriateshorttermstorageduration}}
  <div>
    <div><h5>Appropriate short-term storage duration</h5></div>
    <div><p>{{raw.adappropriateshorttermstorageduration}}</p></div>
  </div>
  {{/if}}
  {{#if raw.adappropriateshorttermstorageconditions}}
  <div>
    <div><h5>Appropriate short-term storage conditions</h5></div>
    <div><p>{{raw.adappropriateshorttermstorageconditions}}</p></div>
  </div>
  {{/if}}
  {{#if raw.adappropriatelongtermstorageconditions}}
  <div>
    <div><h5>Appropriate long-term storage conditions</h5></div>
    <div><p>{{raw.adappropriatelongtermstorageconditions}}</p></div>
  </div>
  {{/if}}
  {{#if raw.adaliquotinginformation}}
  <div>
    <div><h5>Aliquoting information</h5></div>
    <div><p>{{raw.adaliquotinginformation}}</p></div>
  </div>
  {{/if}}
</div>