<div class="product-header {{class}}">
    <div>
        <div>
            <h1>We are sorry, {{title}} ({{raw.adassetdefinitionnumber}}) is temporarily unavailable</h1>
            <p>We are re-evaluating this product to ensure it meets our strict quality criteria.</p>
            <p>
                Unfortunately, it will not be available to order during this time. If you need help finding an alternative, our 
                <a class="text-blue-default" href="/en-us/contact-us" data-di-id="di-id-bbaacdc1-44c009ba">Scientific Support team</a> 
                would be happy to help.
            </p>
        </div>
    </div>
</div>
