<div class="product-kit-component {{class}}">
    {{#if kitcomponent}}    
    <div>
        <div><h3>{{whatsincluded}}</h3></div>
    </div>
    <div>
        <div>
        <p>
        {
        "values": {
        {{#each kitcomponent.byAsset}}        
        {{#if @last}}
            "{{#replaceSlash this.sellingSize }} {{ this.sellingSize }} {{/replaceSlash}}": {
                "sellingSize": "{{ this.sellingSize }}",
                "publicAssetCode":"{{this.publicAssetCode}}",
                "assetComponentDetails": [
                {{#if assetComponentDetails}}
                {{#each assetComponentDetails}}
                    {{#if @last}}
                    {
                    "size":"{{#if this.size}}{{this.size}}{{/if}}",
                    "name":"{{#if this.component.name}}{{this.component.name}}{{/if}}",
                    "number":"{{#if this.component.number}}{{this.component.number}}{{/if}}",
                    "productcode":"{{#if this.component.product.productCode}}{{this.component.product.productCode}}{{/if}}"
                    }
                    {{else}}
                    {
                    "size":"{{#if this.size}}{{this.size}}{{/if}}",
                    "name":"{{#if this.component.name}}{{this.component.name}}{{/if}}",
                    "number":"{{#if this.component.number}}{{this.component.number}}{{/if}}",
                    "productcode":"{{#if this.component.product.productCode}}{{this.component.product.productCode}}{{/if}}"
                    },
                    {{/if}}
                {{/each}}
                {{/if}}
                ]
            }
        {{else}}            
            "{{#replaceSlash this.sellingSize }} {{ this.sellingSize }} {{/replaceSlash}}": {
                "sellingSize": "{{ this.sellingSize }}",
                "publicAssetCode":"{{this.publicAssetCode}}",
                "assetComponentDetails": [
                {{#if assetComponentDetails}}
                    {{#each assetComponentDetails}}
                        {{#if @last}}
                        {
                        "size":"{{#if this.size}}{{this.size}}{{/if}}",
                        "name":"{{#if this.component.name}}{{this.component.name}}{{/if}}",
                        "number":"{{#if this.component.number}}{{this.component.number}}{{/if}}"
                        }
                        {{else}}
                        {
                        "size":"{{#if this.size}}{{this.size}}{{/if}}",
                        "name":"{{#if this.component.name}}{{this.component.name}}{{/if}}",
                        "number":"{{#if this.component.number}}{{this.component.number}}{{/if}}"
                        },
                        {{/if}}
                    {{/each}}
                {{/if}}
                ]
            },            
        {{/if}}
        {{/each}}
        }
        }
        </p>
        </div>
    </div>
    {{/if}}    
</div>