<div class="product-header {{class}}">
    {{#if (and (eq raw.adstatus "quarantined") (eq raw.adawaitinginactivation "false"))}}
    <div>
        <div>
            <h1>{{unavaialble1heading1}} {{title}} ({{raw.adassetdefinitionnumber}}) {{unavaialble1heading2}}</h1>
            <p>{{unavaialble1p1}} </p>
            <p>
                {{unavaialble1p2}} 
                {{#if locale}}    
                <a class="text-blue-default" href="{{locale}}/contact-us" data-di-id="di-id-bbaacdc1-44c009ba">{{unavaialble1anc}}</a> 
                {{else}}
                <a class="text-blue-default" href="/contact-us" data-di-id="di-id-bbaacdc1-44c009ba">{{unavaialble1anc}}</a> 
                {{/if}}
                {{unavaialble1p3}} 
            </p>
        </div>
    </div>
    {{else if (isOneOf raw.adstatus values="inactive,quarantined")}}
    <div>
        <div>
            <h1>{{title}} ({{raw.adassetdefinitionnumber}}) {{unavaialble2heading}}</h1>
            <p>{{unavaialble2para}}</p>
        </div>
    </div>
    {{/if}}
</div>
