<div class="product-promise {{class}}">
    <div>
        <div>
            <h3>Product promise</h3>
        </div>
    </div>
    <div>
        <div>
            <p>We are committed to supporting your work with high-quality reagents, and we're here for you every step of
                the way.
                In the unlikely event that one of our products does not perform as expected, you're protected by our
                Product Promise.
            </p>
        </div>
        <div>
            <p>For full details, please see our <a href="/legal/product-promise-terms-conditions" target="_self">
            Terms & Conditions</a></p>
        </div>
    </div>
</div>