<div class="product-target-data {{class}}">
    <div>
        <div><h3>Target Data</h3></div>
    </div>
    {{#if targetfunction}}
    <div>
        <div>{{targetfunction}}</div>
    </div>
    {{else if raw.adstandardproteinfunction}}
    <div>
        <div>{{raw.adstandardproteinfunction}}</div>
    </div>
    {{/if}}
    {{#if target}}
    <div>
        <div><a href="{{concat '/en-us/targets' target.adPrimaryTargetSlug (extractNumber target.adPrimaryTargetNumber)}}" target="_blank">See full target information {{target.adPrimaryTargetName}}</a></div>
    </div>
    {{/if}}

    {{#if relatedtargets}}
    <div>
        <div><h3>Additional Targets</h3></div>
    </div>
    <div>
        <div>{{relatedtargets}}</div>
    </div>
    {{/if}}
</div>