{{#if conjugatevariations}}
<div class="product-variations {{class}}">
  <div>
    <div>
      <h3>{{relatedconjugatesandformulations}} ({{conjugatevariations.length}})</h3>
    </div>
  </div>
  <div>
    <div>
      <ul>
        {{#each conjugatevariations}}
        <li>
          {{#if this.product.conjugations.[0].emission}}
          <em>{{this.product.conjugations.[0].emission}}</em>
          {{/if}}
          <a href="{{locale}}/products/{{this.product.seoClass.levelOne}}/{{this.product.productSlug}}">
            {{#if this.product.conjugations.[0].label}} {{this.product.conjugations.[0].label}}
            {{else}} {{replaceTagTitle this.relationship}} {{/if}}
          </a>
          <p>{{this.product.name}}</p>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
{{/if}}
