<div class="product-alternate {{class}}">
   {{#if alternateproducts}}
   <div>
      <div><h3>{{alternativeTitle}}</h3></div>
   </div>
   <div>
      <div><p>{{ alternateproducts.productCode }}</p></div>
   </div>
   <div>
      <div><h3>{{ alternateproducts.name }}</h3></div>
   </div>
   <div>
      <div><p>{{ alternateproducts.reviewsSummary.aggregatedRating }}</p></div>
      <div><p>{{ alternateproducts.reviewsSummary.numberOfReviews }} Reviews</p></div>
   </div>
   <div>
      {{#if locale}}
      <div><a href="{{concat locale 'products' alternateproducts.type alternateproducts.productSlug}}" target="_blank">{{viewProductLabel}}</a></div>
      {{else}}
      <div><a href="{{concat '/products' alternateproducts.type alternateproducts.productSlug}}" target="_blank">{{viewProductLabel}}</a></div>
      {{/if}}
   </div>
   <div>
	   <div>
         <h6>{{whyisthisrecommended}}</h6>
         <p>{{alternativeItem1}}
         </p>
	   </div>
   </div>
   {{/if}}

   {{#if toprecommendedproducts}}
   <div>
      <div><h3>{{recommendationTitle}}:</h3></div>
   </div>
   <div>
      {{#each toprecommendedproducts}}
         {{#if this.productCode}}
         <div>
            <div><p>{{ this.productCode }}</p></div>
         </div>
         {{/if}}
         {{#if this.name}}
         <div>
            <div><h3>{{ this.name }}</h3></div>
         </div>
         {{/if}}
         {{#if this.reviewsSummary}}
         <div>
            <div><p>{{ this.reviewsSummary.aggregatedRating }}</p></div>
            <div><p>{{ this.reviewsSummary.numberOfReviews }} Reviews</p></div>
         </div>
         {{/if}}
         {{#if this.productSlug}}
         <div>
            {{#if this.locale}}
            <div><a href="{{concat this.locale 'products' this.type this.productSlug}}" target="_blank">{{this.viewProductLabel}}</a></div>
            {{else}}
            <div><a href="{{concat '/products' this.type this.productSlug}}" target="_blank">{{this.viewProductLabel}}</a></div>
            {{/if}}
         </div>
         {{/if}}
      {{/each}}
   </div>
   <div>
		<div>
         <h6>{{whyisthisrecommended}}</h6>
         <p>{{recommendationItem1}}</p>
         <p>
            {{#if locale}}
               {{recommendationItem2}}<a href="{{concat locale 'contact-us'}}">{{recommendationItem3}}</a>{{recommendationItem4}}
            {{else}}
               {{recommendationItem2}}<a href="{{concat '/contact-us'}}">{{recommendationItem3}}</a>{{recommendationItem4}}
            {{/if}}
         </p>
		</div>
   </div>
   {{/if}}
</div>
