{{#if conjugatevariations}}
<div class="product-variations {{class}}">
  <div>
    <div>
      <h3>{{relatedconjugatesandformulations}} ({{conjugatevariations.length}})</h3>
    </div>
  </div>
  <div>
    <div>
      <ul>
        {{#each conjugatevariations}}
          <li>
            {{#if this.conjugationsemission}}
              <em>{{this.conjugationsemission}}</em>
            {{/if}}
            {{#if this.locale}}
              <a href="{{concat this.locale 'products' this.seoclasslevelone this.productslug}}">
                {{#if this.conjugationslabel}}
                  {{this.conjugationslabel}}
                {{else}}
                  {{replaceTagTitle this.relationship}}
                {{/if}}
              </a>
              {{else}}
              <a href="{{concat '/products' this.seoclasslevelone this.productslug}}">
                {{#if this.conjugationslabel}}
                  {{this.conjugationslabel}}
                {{else}}
                  {{replaceTagTitle this.relationship}}
                {{/if}}
              </a>
            {{/if}}
            <p>{{this.productname}}</p>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
{{/if}}