<div class="product-downloads {{class}}">
    {{#if protocolsdownloads}}
        {{#if isLegacyUnpublished}}
            {{#each protocolsdownloads}}        
                {{#if this.url}}
                <div>
                    <div><em>{{this.documentType}}</em></div>
                    <div><span>{{#if this.language}}{{this.language}}{{else}}en{{/if}}</span></div>
                    <div><a href="{{this.url}}" target="_blank"></a></div>
                </div>
                {{/if}}
            {{/each}}
        {{else}}
            {{#each protocolsdownloads}}        
                {{#if this.url}}
                <div>
                    <div><em>{{this.documentType}}</em></div>
                    <div><span>{{#if this.language}}{{this.language}}{{else}}en{{/if}}</span></div>
                    <div><a href="{{this.url}}" target="_blank"></a></div>
                </div>
                {{/if}}
            {{/each}}
        {{/if}}
    {{/if}}
</div>
