<div class="product-target-data {{class}}">
    <div>
        <div>
            <h3>{{targetdataheading}}</h3>
        </div>
    </div>
    {{#if targetfunction}}
    <div>
        <div>{{trimColons targetfunction}}</div>
    </div>
    {{else if raw.adstandardproteinfunction}}
    <div>
        <div>{{raw.adstandardproteinfunction}}</div>
    </div>
    {{/if}}
    {{#if (and (isNotOneOf raw.adseoclasslevelone values="cell-lines") target)}}
    <div>
        {{#if locale}}
        <div><a href="{{concat locale 'targets' target.adPrimaryTargetSlug (extractNumber target.adPrimaryTargetNumber)}}"
                target="_blank">See full target information {{target.adPrimaryTargetName}}</a></div>
        {{else}}
        <div><a href="{{concat '/targets' target.adPrimaryTargetSlug (extractNumber target.adPrimaryTargetNumber)}}"
                target="_blank">See full target information {{target.adPrimaryTargetName}}</a></div>
        {{/if}}
    </div>
    {{else if (eq raw.adseoclasslevelone "cell-lines")}}
    <div>
        {{#if locale}}
        <div><a href="{{concat locale 'targets' target.adPrimaryTargetSlug (extractNumber target.adPrimaryTargetNumber)}}"
                target="_blank">See full target information {{target.primarytargetname}}</a></div>
        {{else}}
        <div><a href="{{concat '/targets' target.adPrimaryTargetSlug (extractNumber target.adPrimaryTargetNumber)}}"
                target="_blank">See full target information {{target.primarytargetname}}</a></div>
        {{/if}}
    </div>
    {{/if}}

    {{#if relatedtargets}}
    <div>
        <div>
            <h3>{{additionaltargets}}</h3>
        </div>
    </div>
    <div>
        <div>{{relatedtargets}}</div>
    </div>
    {{/if}}
</div>