<div class="product-storage-info {{class}}">
  <div>
    <div>
      <h3>{{propertiesandstorageinformation}}</h3>
    </div>
  </div>

  {{#if (isOneOf raw.adseoclasslevelone values="primary-antibodies,secondary-antibodies")}}
    {{#if raw.adform}}
    <div>
      <div><h5>{{form}}</h5></div>
      <div><p>{{raw.adform}}</p></div>
    </div>
    {{/if}}

    {{#if raw.adreconstitution}}
    <div>
      <div><h5>{{reconstitution}}</h5></div>
      <div><p>{{raw.adreconstitution}}</p></div>
    </div>
    {{/if}}

    {{#if purity}}
    <div>
      <div><h5>{{purity}}</h5></div>
      <div><p>{{purity}}</p></div>
    </div>
    {{/if}}

    {{#if purificationtechnique}}
    <div>
      <div><h5>{{purificationtechnique}}</h5></div>
      <div><p>{{purificationtechnique}}</p></div>
    </div>
    {{/if}}

    {{#if purificationnotesstatement}}
    <div>
      <div><h5>{{purificationnotes}}</h5></div>
      <div><p>{{{purificationnotesstatement}}}</p></div>
    </div>
    {{/if}}

    {{#if raw.adformulation}}
    <div>
      <div><h5>{{storagebuffer}}</h5></div>
      <div><p>{{raw.adformulation}}</p></div>
    </div>
    {{/if}}
  {{/if}}

  {{#if (isOneOf raw.adseoclasslevelone values="cell-lines,tissue-lysates,cell-lysates")}}
    {{#if celltargetattr.gene}}
    <div>
      <div><h5>{{genename}}</h5></div>
      <div><p>{{celltargetattr.gene}}</p></div>
    </div>
    {{/if}}

    {{#if celltargetattr.geneEditingType}}
    <div>
      <div><h5>{{geneeditingtype}}</h5></div>
      <div><p>{{celltargetattr.geneEditingType}}</p></div>
    </div>
    {{/if}}

    {{#if celltargetattr.geneEditingMethod}}
    <div>
      <div><h5>{{geneeditingmethod}}</h5></div>
      <div><p>{{celltargetattr.geneEditingMethod}}</p></div>
    </div>
    {{/if}}

    {{#if celltargetattr.knockoutvalidation}}
    <div>
      <div><h5>{{knockoutvalidation}}</h5></div>
      <div><p>{{celltargetattr.knockoutvalidation}}</p></div>
    </div>
    {{/if}}

    {{#if celltargetattr.zygosity}}
    <div>
      <div><h5>{{zygosity}}</h5></div>
      <div><p>{{celltargetattr.zygosity}}</p></div>
    </div>
    {{/if}}
  {{/if}}

  {{#if raw.adstorageshippedatconditions}}
  <div>
    <div><h5>{{shippedatconditions}}</h5></div>
    <div><p>{{raw.adstorageshippedatconditions}}</p></div>
  </div>
  {{else if raw.adshippedatconditions}}
  <div>
    <div><h5>{{shippedatconditions}}</h5></div>
    <div><p>{{raw.adshippedatconditions}}</p></div>
  </div>
  {{/if}}

  {{#if raw.adappropriateshorttermstorageduration}}
  <div>
    <div><h5>{{appropriateshorttermstorageduration}}</h5></div>
    <div><p>{{raw.adappropriateshorttermstorageduration}}</p></div>
  </div>
  {{/if}}

  {{#if raw.adappropriateshorttermstorageconditions}}
  <div>
    <div><h5>{{appropriateshorttermstorageconditions}}</h5></div>
    <div><p>{{raw.adappropriateshorttermstorageconditions}}</p></div>
  </div>
  {{/if}}

  {{#if raw.adappropriatelongtermstorageconditions}}
  <div>
    <div><h5>{{appropriatelongtermstorageconditions}}</h5></div>
    <div><p>{{raw.adappropriatelongtermstorageconditions}}</p></div>
  </div>
  {{/if}}

  {{#if raw.adaliquotinginformation}}
  <div>
    <div><h5>{{aliquotinginformation}}</h5></div>
    <div><p>{{raw.adaliquotinginformation}}</p></div>
  </div>
  {{/if}}

  {{#if raw.adstorageinformation}}
  <div>
    <div><h5>{{storageinformation}}</h5></div>
    <div><p>{{raw.adstorageinformation}}</p></div>
  </div>
  {{/if}}

  {{#if raw.adproteinactive}}
  <div>
    <div><p>{{raw.adproteinactive}}</p></div>
  </div>
  {{/if}}
</div>
