<div class="product-keyfacts {{class}}">
    <div>
        <div>
            <h3>Key Facts</h3>
        </div>
    </div>
    <div>
        {{#if (eq raw.adseoclasslevelone "primary-antibodies")}}
            {{#if raw.adisotype}}
            <div>
                <h6>Isotype</h6>
                <p>{{raw.adisotype}}</p>
            </div>
            {{/if}}

            {{#if raw.adhostspecies}}
            <div>
                <h6>Host species</h6>
                <p>{{raw.adhostspecies}}</p>
            </div>
            {{/if}}

            {{#if conjugations}}
            <div>
                <h6>Conjugation</h6>
                <p>
                    {{#each conjugations}}
                    {{#if @last}} {{this.label}}
                    {{else}}{{this.label}},
                    {{/if}}
                    {{/each}}
                </p>
            </div>
            {{/if}}

            {{#if conjugations }}
            <div>
                <h6>Excitation/Emission</h6>
                {{#each conjugations}}
                {{#if this.emission }}
                    {{#if this.excitation}}
                        <p>Ex: {{this.excitation}}nm, Em: {{this.emission}}nm</p>
                    {{/if}}
                {{/if}}
                {{/each}}
            </div>
            {{/if}}

            {{#if antibodypurity }}
            <div>
                <h6>Purity</h6>
                <p>{{antibodypurity}}</p>
            </div>
            {{/if}}

            {{#if raw.adformulation}}
            <div>
                <h6>Storage buffer</h6>
                <p>{{raw.adformulation}}</p>
            </div>
            {{/if}}

            {{#if raw.adform}}
            <div>
                <h6>Form</h6>
                <p>{{raw.adform}}</p>
            </div>
            {{/if}}

            {{#if raw.adclonality}}
            <div>
                <h6>Clonality</h6>
                <p>{{raw.adclonality}}</p>
            </div>
            {{/if}}

            {{#if (and immunogenlinkjson immunogendesc)}}
            <div>
                <h6>Immunogen</h6>
                <p>{{immunogendesc}} {{raw.adimmunogencommercialsensitivity}}</p> <a href="{{immunogenlinkjson.value}}">{{immunogenlinkjson.label}}</a>
            </div>
            {{else if raw.adimmunogencommercialsensitivity}}
            <div>
                <h6>Immunogen</h6>
                <p>{{raw.adimmunogencommercialsensitivity}}</p>
            </div>
            {{/if}}

            
            {{#if raw.adcarrierfree}}
            <div>
                <h6>Carrier Free</h6>
                {{#if (eq raw.adcarrierfree "False")}}
                <p>No</p>
                {{else}}
                <p>Yes</p>
                {{/if}}
            </div>
            {{/if}} 

            {{#if raw.adclonenumber}}
            <div>
                <h6>Clone number</h6>
                <p>{{raw.adclonenumber}}</p>
            </div>
            {{/if}}

            {{#if purificationtechnique}}
            <div>
                <h6>Purification technique</h6>
                <p>{{purificationtechnique}}</p>
            </div>
            {{/if}}

            {{#if purificationnotes}}
            <div>
                <h6>Purification notes</h6>
                <div><p>{{{purificationnotes}}}</p></div>
            </div>
            {{/if}}
            
            {{#if raw.adantibodyspecificity}}
            <div>
                <h6>Specificity</h6>
                <p>{{{raw.adantibodyspecificity}}}</p>
            </div>
            {{/if}}
            
            {{#if raw.adantibodyepitope}}
            <div>
                <h6>Epitope</h6>
                <p>{{raw.adantibodyepitope}}</p>
            </div>
            {{/if}}

            {{#if dissociationconstant}}
            <div>
                <h6>Dissociation constant</h6>
                <p>{{dissociationconstant.value}} x 10 <sup>{{dissociationconstant.exponent}}</sup> M</p>
            </div>
            {{/if}}
            
            {{#if raw.adantibodylightchaintype}}
            <div>
                <h6>Light chain type</h6>
                <p>{{raw.adantibodylightchaintype}}</p>
            </div>
            {{/if}}

            {{#if raw.adreconstitution}}
            <div>
                <h6>Reconstitution</h6>
                <p>{{raw.adreconstitution}}</p>
            </div>
            {{/if}} 
        {{/if}}

        {{#if (eq raw.adseoclasslevelone "secondary-antibodies")}}
            {{#if raw.title}}
            <div>
                <h6>Description</h6>
                <p>{{raw.title}}</p>
            </div>
            {{/if}}

            {{#if raw.adhostspecies}}
            <div>
                <h6>Host species</h6>
                <p>{{raw.adhostspecies}}</p>
            </div>
            {{/if}}

            {{#if targetattr.targetSpecies}}
            <div>
                <h6>Target species</h6>
                <p>{{targetattr.targetSpecies}}</p>
            </div>
            {{/if}}

            {{#if secondaryantibodytargetisotypes}}
            <div>
                <h6>Target isotype</h6>
                <p>{{secondaryantibodytargetisotypes}}</p>
            </div>
            {{/if}}

            {{#if targetattr.targetSpecificity}}
            <div>
                <h6>Target specificity</h6>
                <p>{{targetattr.targetSpecificity}}</p>
            </div>
            {{/if}}

            {{#if speciesreactivity}}
            <div>
                <h6>Minimal cross-reactivity</h6>
                <p>
                {{#each speciesreactivity}}
                {{#if (eq this.reactivityType "DOES_NOT_REACT")}}
                    {{#if @last}} {{this.species}}
                    {{else}}{{this.species}}, 
                    {{/if}}
                {{/if}}
                {{/each}}
                </p>    
            </div>
            {{/if}}

            {{#if conjugations}}
            <div>
                <h6>Conjugation</h6>
                <p>
                    {{#each conjugations}}
                    {{#if @last}} {{this.label}}
                    {{else}}{{this.label}},
                    {{/if}}
                    {{/each}}
                </p>
            </div>
            {{/if}}


            {{#if conjugations }}
            <div>
                <h6>Excitation/Emission</h6>
                {{#each conjugations}}
                {{#if this.emission }}
                    {{#if this.excitation}}
                        <p>Ex: {{this.excitation}}nm, Em: {{this.emission}}nm</p>
                    {{/if}}
                {{/if}}
                {{/each}}
            </div>
            {{/if}}

            {{#if antibodypurity }}
            <div>
                <h6>Purity</h6>
                <p>{{antibodypurity}}</p>
            </div>
            {{/if}}

            {{#if raw.adapplications}}
            <div>
                <h6>Applications</h6>
                <p>
                    {{#each raw.adapplications}}
                    {{#if @last}} {{this}}
                    {{else}}{{this}},
                    {{/if}}
                    {{/each}}
                </p>
            </div>
            {{/if}}

            {{#if raw.adclonality}}
            <div>
                <h6>Clonality</h6>
                <p>{{raw.adclonality}}</p>
            </div>
            {{/if}}

            {{#if raw.adclonenumber}}
            <div>
                <h6>Clone number</h6>
                <p>{{raw.adclonenumber}}</p>
            </div>
            {{/if}}

            {{#if raw.adantibodyformat}}
            <div>
                <h6>Format</h6>
                <p>{{raw.adantibodyformat}}</p>
            </div>
            {{/if}}

            {{#if raw.adsecondaryantibodyattributespreadsorbed}}
            <div>
                <h6>Pre-adsorbed</h6>
                {{#if (eq raw.adsecondaryantibodyattributespreadsorbed "False")}}
                <p>No</p>
                {{else}}
                <p>Yes</p>
                {{/if}}
            </div>
            {{/if}}

            {{#if (and immunogenlinkjson immunogendesc)}}
            <div>
                <h6>Immunogen</h6>
                <p>{{immunogendesc}} {{raw.adimmunogencommercialsensitivity}}</p> <a href="{{immunogenlinkjson.value}}">{{immunogenlinkjson.label}}</a>
            </div>
            {{else if raw.adimmunogencommercialsensitivity}}
            <div>
                <h6>Immunogen</h6>
                <p>{{raw.adimmunogencommercialsensitivity}}</p>
            </div>
            {{/if}}

            {{#if raw.adantibodyspecificity}}
            <div>
                <h6>Specificity</h6>
                <p>{{{raw.adantibodyspecificity}}}</p>
            </div>
            {{/if}}

            {{#if raw.adantibodyepitope}}
            <div>
                <h6>Epitope</h6>
                <p>{{raw.adantibodyepitope}}</p>
            </div>
            {{/if}}

            {{#if raw.adantibodylightchaintype}}
            <div>
                <h6>Light chain type</h6>
                <p>{{raw.adantibodylightchaintype}}</p>
            </div>
            {{/if}}

            {{#if raw.adreconstitution}}
            <div>
                <h6>Reconstitution</h6>
                <p>{{raw.adreconstitution}}</p>
            </div>
            {{/if}} 
        {{/if}}

        {{#if (isOneOf raw.adseoclasslevelone values="reagents,panels,dyes,buffers")}}
            {{#if raw.adapplications}}
            <div>
                <h6>Applications</h6>
                <p>
                    {{#each raw.adapplications}}
                    {{#if @last}} {{this}}
                    {{else}}{{this}},
                    {{/if}}
                    {{/each}}
                </p>
            </div>
            {{/if}}

            {{#if target}}
            <div>
                <h6>Target</h6>
                <p>{{target.adPrimaryTargetName}}</p>
            </div>
            {{/if}}            

            {{#if raw.adkitassaytype}}
            <div>
                <h6>Assay type</h6>
                <p>{{raw.adkitassaytype}}</p>
            </div>
            {{/if}}
            
            {{#if raw.adspecies}}
            <div>
                <h6>Reacts with</h6>
                <p>{{raw.adspecies}}</p>
            </div>
            {{/if}}

            {{#if raw.adhostspecies}}
            <div>
                <h6>Host species</h6>
                <p>{{raw.adhostspecies}}</p>
            </div>
            {{/if}}

            {{#if conjugations}}
            <div>
                <h6>Conjugation</h6>
                <p>
                    {{#each conjugations}}
                    {{#if @last}} {{this.label}}
                    {{else}}{{this.label}},
                    {{/if}}
                    {{/each}}
                </p>
            </div>
            {{/if}}

            {{#if conjugations }}
            <div>
                <h6>Excitation/Emission</h6>
                {{#each conjugations}}
                {{#if this.emission }}
                    {{#if this.excitation}}
                        <p>Ex: {{this.excitation}}nm, Em: {{this.emission}}nm</p>
                    {{/if}}
                {{/if}}
                {{/each}}
            </div>
            {{/if}}

            {{#if raw.adpurity }}
                {{#if raw.adpurityassessment}}
                <div>
                    <h6>Purity</h6>
                    <p>{{raw.adpurity}} {{raw.adpurityassessment}}</p>
                </div>
                {{/if}}  
            {{/if}}

            {{#if raw.adreconstitution}}
            <div>
                <h6>Reconstitution</h6>
                <p>{{raw.adreconstitution}}</p>
            </div>
            {{/if}} 

            {{#if raw.adform}}
            <div>
                <h6>Form</h6>
                <p>{{raw.adform}}</p>
            </div>
            {{/if}}

            {{#if raw.adformulation}}
            <div>
                <h6>Storage buffer</h6>
                <p>{{raw.adformulation}}</p>
            </div>
            {{/if}}
        {{/if}}

        {{#if (eq raw.adseoclasslevelone "biochemicals")}}
            {{#if biochemicalattr.casNumber}}
            <div>
                <h6>CAS number</h6>
                <p>{{biochemicalattr.casNumber}}</p>
            </div>
            {{/if}}

            {{#if biochemicalattr.expectedPurity}}
            <div>
                <h6>Purity</h6>
                <p>{{biochemicalattr.expectedPurity}}</p>
            </div>
            {{/if}}

            {{#if raw.adform}}
            <div>
                <h6>Form</h6>
                <p>{{raw.adform}}</p>
            </div>
            {{/if}}

            
            {{#if biochemicalattr.source}}
            <div>
                <h6>Source</h6>
                <p>{{biochemicalattr.source}}</p>
            </div>
            {{/if}}

            {{#if biochemicalattr.molecularWeight}}
            <div>
                <h6>Molecular Weight</h6>
                <p>{{biochemicalattr.molecularWeight}}</p>
            </div>
            {{/if}}

            {{#if biochemicalattr.molecularFormula}}
            <div>
                <h6>Molecular formula</h6>
                <p>{{biochemicalattr.molecularFormula}}</p>
            </div>
            {{/if}}

            
            {{#if biochemicalattr.pubChemId}}
            <div>
                <h6>PubChem identifier</h6>
                <p>{{biochemicalattr.pubChemId}}</p>
            </div>
            {{/if}}

            {{#if biochemicalattr.nature}}
            <div>
                <h6>Nature</h6>
                <p>{{biochemicalattr.nature}}</p>
            </div>
            {{/if}}

            {{#if biochemicalattr.solubility}}
            <div>
                <h6>Solubility</h6>
                {{#each biochemicalattr.solubility}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
            {{/if}}

            {{#if biochemicalattr.biochemicalName}}
            <div>
                <h6>Biochemical name</h6>
                <p>{{biochemicalattr.biochemicalName}}</p>
            </div>
            {{/if}}

            {{#if biochemicalattr.biologicalDescription}}
            <div>
                <h6>Biological description</h6>
                <p>{{{biochemicalattr.biologicalDescription}}}</p>
            </div>
            {{/if}}

            {{#if biochemicalattr.canonicalSmiles}}
            <div>
                <h6>Canonical SMILES</h6>
                <p>{{biochemicalattr.canonicalSmiles}}</p>
            </div>
            {{/if}}

            {{#if biochemicalattr.isomericSmiles}}
            <div>
                <h6>Isomeric SMILES</h6>
                <p>{{biochemicalattr.isomericSmiles}}</p>
            </div>
            {{/if}}

            {{#if biochemicalattr.inchi.value}}
            <div>
                <h6>InChI</h6>
                <p>{{biochemicalattr.inchi.value}}</p>
            </div>
            {{/if}}

            {{#if biochemicalattr.inchi.key}}
            <div>
                <h6>InChIKey</h6>
                <p>{{biochemicalattr.inchi.key}}</p>
            </div>
            {{/if}}

            {{#if biochemicalattr.iupacName}}
            <div>
                <h6>IUPAC name</h6>
                <p>{{biochemicalattr.iupacName}}</p>
            </div>
            {{/if}}

            {{#if raw.adreconstitution}}
            <div>
                <h6>Reconstitution</h6>
                <p>{{raw.adreconstitution}}</p>
            </div>
            {{/if}} 
            
            {{#if biochemicalattr}}
                {{#if biochemicalattr.emission}}
                    {{#if biochemicalattr.excitation}}
                    <div>
                        <h6>Excitation/Emission</h6>
                        <p>Ex: {{biochemicalattr.excitation}}nm, Em: {{biochemicalattr.emission}}nm</p>
                    </div>
                    {{/if}}
                {{/if}}
            {{/if}}
        {{/if}}
        
        {{#if (isOneOf raw.adseoclasslevelone values="elisa-kits,matched-antibody-pair-kits,elispot-kits,lateral-flow,assay-kits")}}
            {{#if raw.adkitdetectionmethod}}
            <div>
                <h6>Detection method</h6>
                <p>{{raw.adkitdetectionmethod}}</p>
            </div>
            {{/if}}

            {{#if sampletypes}}
            <div>
                <h6>Sample types</h6>
                <p>
                    {{#each sampletypes}}
                    {{#if @last}} {{this.name}}
                    {{else}}{{this.name}},
                    {{/if}}
                    {{/each}}
                </p>
            </div>
            {{/if}}

            {{#if raw.adkitassaytype}}
            <div>
                <h6>Assay type</h6>
                <p>{{raw.adkitassaytype}}</p>
            </div>
            {{/if}}

            {{#if raw.adspecies}}
            <div>
                <h6>Reacts with</h6>
                <p>{{raw.adspecies}}</p>
            </div>
            {{/if}}

            {{#if raw.adkitrange}}
            <div>
                <h6>Range</h6>
                <p>{{raw.adkitrange}}</p>
            </div>
            {{/if}}

            {{#if raw.adkitassaytime}}
            <div>
                <h6>Assay time</h6>
                <p>{{raw.adkitassaytime}}</p>
            </div>
            {{/if}}

            {{#if raw.adkitassayplatform}}
            <div>
                <h6>Assay platform</h6>
                <p>{{raw.adkitassayplatform}}</p>
            </div>
            {{/if}}

            {{#if raw.adkitsensitivity}}
            <div>
                <h6>Sensitivity</h6>
                <p>{{raw.adkitsensitivity}}</p>
            </div>
            {{/if}}

            
            {{#if raw.adkitgeneralrecovery}}
            <div>
                <h6>General recovery</h6>
                <p>{{raw.adkitgeneralrecovery}}</p>
            </div>
            {{/if}}
        {{/if}}

        {{#if (isOneOf raw.adseoclasslevelone values="conjugation-kits,purification-kits,sample-preparation-kits,chromogen-kits,ihc-kits,chip-kits")}}
            {{#if raw.adkitdetectionmethod}}
            <div>
                <h6>Detection method</h6>
                <p>{{raw.adkitdetectionmethod}}</p>
            </div>
            {{/if}}

            
            {{#if raw.adkitassaytime}}
            <div>
                <h6>Assay time</h6>
                <p>{{raw.adkitassaytime}}</p>
            </div>
            {{/if}}

            {{#if raw.adkitassayplatform}}
            <div>
                <h6>Assay platform</h6>
                <p>{{raw.adkitassayplatform}}</p>
            </div>
            {{/if}}

            {{#if sampletypes}}
            <div>
                <h6>Sample types</h6>
                <p>
                    {{#each sampletypes}}
                    {{#if @last}} {{this.name}}
                    {{else}}{{this.name}},
                    {{/if}}
                    {{/each}}
                </p>
            </div>
            {{/if}}

            {{#if raw.adkitassaytype}}
            <div>
                <h6>Assay type</h6>
                <p>{{raw.adkitassaytype}}</p>
            </div>
            {{/if}}

            {{#if raw.adspecies}}
            <div>
                <h6>Reacts with</h6>
                <p>{{raw.adspecies}}</p>
            </div>
            {{/if}}

            {{#if raw.adkitrange}}
            <div>
                <h6>Range</h6>
                <p>{{raw.adkitrange}}</p>
            </div>
            {{/if}}

            {{#if raw.adkitsensitivity}}
            <div>
                <h6>Sensitivity</h6>
                <p>{{raw.adkitsensitivity}}</p>
            </div>
            {{/if}}

            {{#if raw.adkitgeneralrecovery}}
            <div>
                <h6>General recovery</h6>
                <p>{{raw.adkitgeneralrecovery}}</p>
            </div>
            {{/if}}
        {{/if}}

        {{#if (eq raw.adseoclasslevelone "proteins-peptides")}}
            {{#if raw.adpurity }}
                {{#if raw.adpurityassessment}}
                <div>
                    <h6>Purity</h6>
                    <p>{{raw.adpurity}} {{raw.adpurityassessment}}</p>
                </div>
                {{/if}}  
            {{/if}}

            {{#if raw.adproteinendotoxinlevel}}
            <div>
                <h6>Endotoxin level</h6>
                <p>{{raw.adproteinendotoxinlevel}}</p>
            </div>
            {{/if}} 
            
            {{#if raw.adproteinexpressionsystem}}
            <div>
                <h6>Expression system</h6>
                <p>{{raw.adproteinexpressionsystem}}</p>
            </div>
            {{/if}} 

            {{#if sequenceinfotag}}
            <div>
                <h6>Tags</h6>
                <p>{{sequenceinfotag.tag}} tag {{sequenceinfotag.terminus}}</p>
            </div>
            {{ else }}
            <div>
                <h6>Tags</h6>
                <p>Tag free</p>
            </div>
            {{/if}}

            {{#if raw.adapplications}}
            <div>
                <h6>Applications</h6>
                <p>
                    {{#each raw.adapplications}}
                    {{#if @last}} {{this}}
                    {{else}}{{this}},
                    {{/if}}
                    {{/each}}
                </p>
            </div>
            {{/if}}

            {{#if raw.adproteinactive}}
            <div>
                <h6>Biologically active</h6>
                {{#if (eq raw.adproteinactive "False")}}
                <p>No</p>
                {{else}}
                <p>Yes</p>
                {{/if}}
            </div>
            {{/if}} 

            {{#if raw.adproteinbiologicalactivity}}
            <div>
                <h6>Biological activity</h6>
                <p>{{{raw.adproteinbiologicalactivity}}}</p>
            </div>
            {{/if}} 
            
            {{#if conjugations}}
            <div>
                <h6>Conjugation</h6>
                <p>
                    {{#each conjugations}}
                    {{#if @last}} {{this.label}}
                    {{else}}{{this.label}},
                    {{/if}}
                    {{/each}}
                </p>
            </div>
            {{/if}}
            
            {{#if raw.adproteinmassspectrometry}}
            <div>
                <h6>Mass Spectrometry</h6>
                <p>{{{raw.adproteinmassspectrometry}}}</p>
            </div>
            {{/if}} 

            {{#if conjugations }}
            <div>
                <h6>Excitation/Emission</h6>
                {{#each conjugations}}
                {{#if this.emission }}
                    {{#if this.excitation}}
                        <p>Ex: {{this.excitation}}nm, Em: {{this.emission}}nm</p>
                    {{/if}}
                {{/if}}
                {{/each}}
            </div>
            {{/if}}

            {{#if raw.adstandardproteinaccession}}
            <div>
                <h6>Accession</h6>
                {{#if target}}
                <p><a href={{target.adPrimaryTargetIsofromAccessionvalue}}>{{raw.adstandardproteinaccession}}</a></p>
                {{else}}
                <p>{{raw.adstandardproteinaccession}}</p>
                {{/if}}
            </div>
            {{/if}} 

            {{#if raw.adanimalfree}}
            <div>
                <h6>Animal Free</h6>
                {{#if (eq raw.adanimalfree "False")}}
                <p>No</p>
                {{else}}
                <p>Yes</p>
                {{/if}}
            </div>
            {{/if}} 

            {{#if raw.adcarrierfree}}
            <div>
                <h6>Carrier Free</h6>
                {{#if (eq raw.adcarrierfree "False")}}
                <p>No</p>
                {{else}}
                <p>Yes</p>
                {{/if}}
            </div>
            {{/if}} 

            {{#if raw.adstandardproteinspecies}}
            <div>
                <h6>Species</h6>
                <p>{{raw.adstandardproteinspecies}}</p>
            </div>
            {{/if}} 
            
            {{#if raw.adreconstitution}}
            <div>
                <h6>Reconstitution</h6>
                <p>{{raw.adreconstitution}}</p>
            </div>
            {{/if}} 
            
            {{#if raw.adformulation}}
            <div>
                <h6>Storage buffer</h6>
                <p>{{raw.adformulation}}</p>
            </div>
            {{/if}}
        {{/if}}

        {{#if (isOneOf raw.adseoclasslevelone values="cell-lines,tissue-lysates,cell-lysates")}}

            {{#if raw.adcelllinetargetattributescelltype}}
            <div>
                <h6>Cell type</h6>
                <p>{{raw.adcelllinetargetattributescelltype}}</p>
            </div>
            {{/if}}
        
            
            {{#if raw.adcelllinetargetattributesspecies}}
            <div>
                <h6>Species or organism</h6>
                <p>{{raw.adcelllinetargetattributesspecies}}</p>
            </div>
            {{/if}}
            
            {{#if celltargetattr.tissueType}}
            <div>
                <h6>Tissue</h6>
                <p>{{celltargetattr.tissueType}}</p>
            </div>
            {{/if}}

            {{#if raw.adform}}
            <div>
                <h6>Form</h6>
                <p>{{raw.adform}}</p>
            </div>
            {{/if}}

            {{#if celltargetattr.geneEditedCellLineKnockoutValidations}}
            <div>
                <h6>Knockout validation</h6>
                <p>{{celltargetattr.geneEditedCellLineKnockoutValidations}}</p>
            </div>
            {{/if}}
            
            {{#if celltargetattr.mutationDescription}}
            <div>
                <h6>Mutation description</h6>
                <p>{{celltargetattr.mutationDescription}}</p>
            </div>
            {{/if}}

            {{#if cellattr.antibioticResistance}}
            <div>
                <h6>Antibiotic resistance</h6>
                <p>{{cellattr.antibioticResistance}}</p>
            </div>
            {{/if}}

            {{#if celltargetattr.disease}}
            <div>
                <h6>Disease</h6>
                <p>{{celltargetattr.disease}}</p>
            </div>
            {{/if}}

            {{#if raw.adreconstitution}}
            <div>
                <h6>Reconstitution</h6>
                <p>{{raw.adreconstitution}}</p>
            </div>
            {{/if}} 
        {{/if}}

        {{#if (isOneOf raw.adseoclasslevelone values="antibody-arrays,antibody-panels")}}
            {{#if raw.adkitassaytype}}
            <div>
                <h6>Assay type</h6>
                <p>{{raw.adkitassaytype}}</p>
            </div>
            {{/if}}

            {{#if raw.adspecies}}
            <div>
                <h6>Reacts with</h6>
                <p>{{raw.adspecies}}</p>
            </div>
            {{/if}}

            {{#if target}}
            <div>
                <h6>Target</h6>
                <p>{{target.adPrimaryTargetName}}</p>
            </div>
            {{/if}}

            {{#if raw.adapplications}}
            <div>
                <h6>Applications</h6>
                <p>
                    {{#each raw.adapplications}}
                    {{#if @last}} {{this}}
                    {{else}}{{this}},
                    {{/if}}
                    {{/each}}
                </p>
            </div>
            {{/if}}

            {{#if raw.adkitdetectionmethod}}
            <div>
                <h6>Detection method</h6>
                <p>{{raw.adkitdetectionmethod}}</p>
            </div>
            {{/if}}

            {{#if raw.adkitassayplatform}}
            <div>
                <h6>Assay platform</h6>
                <p>{{raw.adkitassayplatform}}</p>
            </div>
            {{/if}}

            {{#if sampletypes}}
            <div>
                <h6>Sample types</h6>
                <p>
                    {{#each sampletypes}}
                    {{#if @last}} {{this.name}}
                    {{else}}{{this.name}},
                    {{/if}}
                    {{/each}}
                </p>
            </div>
            {{/if}}
        {{/if}}
    </div>
</div>