<html>

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="published-time" content="where in json?">
  <meta name="modified-time" content="where in json?">
  <meta name="category-type" content="{{raw.tgtname}}">
  <meta name="product-slug" content="{{raw.tgtnumber}}">
  <meta name="product-id" content="{{raw.sku}}">
  <meta name="product-slug" content="{{raw.tgtslug}}">
  <meta name="target-type" content="{{raw.tgttype}}">
  <meta name="primary-research-area" content="{{raw.tgtresearchareas}}">
  <meta name="molecular-weight" content="{{raw.tgtmolecularweight}}">
  <meta name="sequence-similarities" content="{{sequencesimilarities}}">
  <meta name="template" content="target-detail-page">
</head>

<body>
  <header></header>
  <main>
    {{> target-overview-section }}
  </main>
  <footer></footer>
</body>

</html>